<div id="mainContainer">
    <img id="streetBackground" style="height: 900px; z-index: 2; display: block; margin-left: auto; margin-right: auto; margin-top:20px;" src="/images/streetZoomedIn/aquatic.png"/>

    <div class="streetElement" 
         style="height: 370px; width: 430px; top: 40px; left: 350px;" 
         onmouseup="playAudio('calamar.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 440px; width: 770px; top: 420px; left: 260px;" 
         onmouseup="playAudio('foca.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 300px; width: 510px; top: 330px; left: 1020px;" 
         onmouseup="playAudio('1tiburon.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 200px; width: 740px; top: 30px; left: 780px;" 
         onmouseup="playAudio('delfin.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

{{!-- Facts --}}
    <div class="fact blue"
         style = "top: 600px; left: 1090px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact blue"
         style = "top: 600px; left: 1210px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact blue"
         style = "top: 600px; left: 1330px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact orange"
         style = "top: 227px; left: 1000px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact orange"
         style = "top: 227px; left: 1120px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact orange"
         style = "top: 227px; left: 1240px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact pink"
         style = "top: 50px; left: 210px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact pink"
         style = "top: 170px; left: 210px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact pink"
         style = "top: 290px; left: 210px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact purple"
         style = "top: 760px; left: 400px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact purple"
         style = "top: 760px; left: 520px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact purple"
         style = "top: 760px; left: 640px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>
</div>

<script>
    let dragging = false;
    const audio = new Audio();

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            if (!audio.paused){
                audio.pause();
            }
            audio.src = '/audio/categories/18/' + soundName;
            audio.play();
        }
    }
</script>