<div id="mainContainer">
    <img id="streetBackground" style="height: 900px; z-index: 2; display: block; margin-left: auto; margin-right: auto; margin-top:20px;" src="/images/streetZoomedIn/birds.png"/>
    
    <div class="streetElement" 
         style="height: 390px; width: 260px; top: 40px; left: 190px;" 
         onmouseup="playAudio('owl.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 470px; width: 300px; top: 400px; left: 370px;" 
         onmouseup="playAudio('flamingo.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 630px; width: 300px; top: 180px; left: 1120px;" 
         onmouseup="playAudio('parrot.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 310px; width: 330px; top: 160px; left: 680px;" 
         onmouseup="playAudio('ostrich.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 220px; width: 200px; top: 470px; left: 720px;" 
         onmouseup="playAudio('ostrich.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

{{!-- Facts --}}
    <div class="fact blue"
         style = "top: 50px; left: 460px;"
         onmouseup="playAudio('owl_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact blue"
         style = "top: 170px; left: 460px;"
         onmouseup="playAudio('owl_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact blue"
         style = "top: 290px; left: 460px;"
         onmouseup="playAudio('owl_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact orange"
         style = "top: 719px; left: 280px;"
         onmouseup="playAudio('flamingo_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact orange"
         style = "top: 719px; left: 400px;"
         onmouseup="playAudio('flamingo_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact orange"
         style = "top: 719px; left: 520px;"
         onmouseup="playAudio('flamingo_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact pink"
         style = "top: 475px; left: 930px;"
         onmouseup="playAudio('ostrich_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact pink"
         style = "top: 595px; left: 930px;"
         onmouseup="playAudio('ostrich_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact pink"
         style = "top: 715px; left: 930px;"
         onmouseup="playAudio('ostrich_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact purple"
         style = "top: 50px; left: 1100px;"
         onmouseup="playAudio('parrot_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact purple"
         style = "top: 50px; left: 1220px;"
         onmouseup="playAudio('parrot_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact purple"
         style = "top: 50px; left: 1340px;"
         onmouseup="playAudio('parrot_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>
</div>

<script>
    let dragging = false;
    const audio = new Audio();

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            if (!audio.paused){
                audio.pause();
            }
            audio.src = '/audio/categories/18/Facts/birds/' + soundName;
            audio.play();
        }
    }
</script>