<div id="mainContainer">
    <img id="streetBackground" style="height: 900px; z-index: 2; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;" src="/images/streetZoomedIn/carnivores.png"/>

    <div class="streetElement" 
         style="height: 330px; width: 500px; top: 40px; left: 180px;" 
         onmouseup="playAudio('lion.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 440px; width: 500px; top: 450px; left: 200px;" 
         onmouseup="playAudio('tiger.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 530px; width: 490px; top: 400px; left: 1020px;" 
         onmouseup="playAudio('wolf.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 220px; width: 420px; top: 40px; left: 680px;" 
         onmouseup="playAudio('jaguar.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

{{!-- Facts --}}
    <div class="fact blue"
         style = "top: 376px; left: 417px;"
         onmouseup="playAudio('lion_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact blue"
         style = "top: 376px; left: 537px;"
         onmouseup="playAudio('lion_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact blue"
         style = "top: 376px; left: 657px;"
         onmouseup="playAudio('lion_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact orange"
         style = "top: 270px; left: 800px;"
         onmouseup="playAudio('jaguar_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact orange"
         style = "top: 270px; left: 920px;"
         onmouseup="playAudio('jaguar_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact orange"
         style = "top: 270px; left: 1040px;"
         onmouseup="playAudio('jaguar_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact pink"
         style = "top: 503px; left: 720px;"
         onmouseup="playAudio('tiger_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact pink"
         style = "top: 623px; left: 720px;"
         onmouseup="playAudio('tiger_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact pink"
         style = "top: 743px; left: 720px;"
         onmouseup="playAudio('tiger_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact purple"
         style = "top: 503px; left: 900px;"
         onmouseup="playAudio('wolf_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact purple"
         style = "top: 623px; left: 900px;"
         onmouseup="playAudio('wolf_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact purple"
         style = "top: 743px; left: 900px;"
         onmouseup="playAudio('wolf_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>
</div>

<script>
    let dragging = false;
    const audio = new Audio();

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            if (!audio.paused){
                audio.pause();
            }
            audio.src = '/audio/categories/18/Facts/carnivores/' + soundName;
            audio.play();
        }
    }
</script>