<div id="mainContainer">
    <img id="streetBackground" style="height: 900px; z-index: 2; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;" src="/images/streetZoomedIn/herbivores.png"/>
    
    <div class="streetElement" 
         style="height: 330px; width: 500px; top: 40px; left: 190px;" 
         onmouseup="playAudio('18_the_boxer_dog_is_big.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 500px; width: 340px; top: 370px; left: 370px;" 
         onmouseup="playAudio('18_the_boxer_dog_is_big.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 200px; width: 240px; top: 650px; left: 700px;" 
         onmouseup="playAudio('18_the_boxer_dog_is_big.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 480px; width: 330px; top: 400px; left: 1100px;" 
         onmouseup="playAudio('18_the_boxer_dog_is_big.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 380px; width: 200px; top: 40px; left: 1300px;" 
         onmouseup="playAudio('18_the_boxer_dog_is_big.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 350px; width: 330px; top: 160px; left: 790px;" 
         onmouseup="playAudio('18_the_boxer_dog_is_big.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

{{!-- Facts --}}
    <div class="fact blue"
         style = "top: 50px; left: 660px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact blue"
         style = "top: 170px; left: 660px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact blue"
         style = "top: 290px; left: 660px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact orange"
         style = "top: 50px; left: 1140px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact orange"
         style = "top: 170px; left: 1140px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact orange"
         style = "top: 290px; left: 1140px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact pink"
         style = "top: 470px; left: 230px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact pink"
         style = "top: 590px; left: 230px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact pink"
         style = "top: 710px; left: 230px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact purple"
         style = "top: 520px; left: 970px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact purple"
         style = "top: 640px; left: 970px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact purple"
         style = "top: 760px; left: 970px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>
</div>

<script>
    let dragging = false;
    const audio = new Audio();

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            if (!audio.paused){
                audio.pause();
            }
            audio.src = '/audio/categories/18/' + soundName;
            audio.play();
        }
    }
</script>