<!--<h2 id="header">street</h2>-->

<div class="horizontal dragscroll background-container" id="mainContainer">
    <!--<img id="low_res" style="height: 720px; z-index: 2;" src="/images/streetZoomedIn/schoolOutside.png"/>-->
    <img id="streetBackground" style="height: 660px; z-index: 2;" src="/images/streetZoomedIn/park2.png"/>

    <!--<div class="streetElement" style="height: 90px; width: 90px; top: 205px; left: 232px;" onmouseup="playAudio('apple.wav');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="category" style="height: 170px; width: 170px; top: 150px; left: 430px;" onmouseup="selectCategory('fruit');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->


    <div class="streetElement"
         style="width: 97px; height: 130px; left: 116px; top: 530px;"
         onmouseup="playAudio('11cat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 144px; height: 116px; left: 130px; top: 260px;"
         onmouseup="playAudio('04raccoons.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 85px; height: 113px; left: 90px; top: 220px;"
         onmouseup="playAudio('trash_can.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 310px; height: 162px; left: 100px; top: 52px;"
         onmouseup="playAudio('01tree.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 160px; height: 80px; left: 1px; top: 1px;"
         onmouseup="playAudio('07path.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 145px; height: 100px; left: 370px; top: 100px;"
         onmouseup="playAudio('07path.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 133px; height: 135px; left: 530px; top: 191px;"
         onmouseup="playAudio('07skunk.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 95px; height: 98px; left: 545px; top: 420px;"
         onmouseup="playAudio('25rabbit.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 170px; height: 86px; left: 550px; top: 27px;"
         onmouseup="playAudio('03bat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 70px; height: 80px; left: 788px; top: 250px;"
         onmouseup="playAudio('08dandelion.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 132px; height: 250px; left: 806px; top: 100px;"
         onmouseup="playAudio('23woman_holding_her_nose.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--tortoise-->
    <div class="streetElement"
         style="width: 84px; height: 62px; left: 955px; top: 440px;"
         onmouseup="playAudio('12tortoise.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 154px; height: 86px; left: 1130px; top: 520px;"
         onmouseup="playAudio('08possum.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 95px; height: 60px; left: 1160px; top: 325px;"
         onmouseup="playAudio('01squirrel.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 80px; height: 250px; left: 1330px; top: 190px;"
         onmouseup="playAudio('loitering_man.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 135px; height: 78px; left: 1415px; top: 370px;"
         onmouseup="playAudio('08sleepy_dog.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 122px; height: 160px; left: 1485px; top: 57px;"
         onmouseup="playAudio('16girl_walking_a_poodle_on_a_leash.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 69px; height: 73px; left: 1715px; top: 230px;"
         onmouseup="playAudio('08dandelion.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 155px; height: 100px; left: 1820px; top: 200px;"
         onmouseup="playAudio('07path.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 115px; height: 72px; left: 1850px; top: 475px;"
         onmouseup="playAudio('05mole.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 160px; height: 238px; left: 2130px; top: 170px;"
         onmouseup="playAudio('21lady_with_stroller.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 67px; height: 240px; left: 2425px; top: 350px;"
         onmouseup="playAudio('11pogo_stick_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 101px; height: 172px; left: 2420px; top: 185px;"
         onmouseup="playAudio('09girl_skating.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 101px; height: 172px; left: 2495px; top: 150px;"
         onmouseup="playAudio('18girl_jumping_rope.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>






</div>

<script>
    let dragging = false;
     const audio = new Audio();

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            if (!audio.paused){
               audio.pause();
            }
            audio.src = '/audio/street/' + soundName;
            audio.play();    
        }
    }
</script>