<div class="horizontal dragscroll background-container" id="mainContainer">
    <img id="streetBackground" style="height: 660px; z-index: 2;" src="/images/streetZoomedIn/park3.png"/>

    <div class="streetElement"
         style="width: 130px; height: 120px; left: 12px; top: 495px;"
         onmouseup="playAudio('03butterfly.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 70px; height: 67px; left: 150px; top: 585px;"
         onmouseup="playAudio('08dandelion.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 200px; height: 140px; left: 140px; top: 250px;"
         onmouseup="playAudio('11bench.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 190px; height: 150px; left: 350px; top: 250px;"
         onmouseup="playAudio('03monkey_bars.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 120px; height: 215px; left: 570px; top: 40px;"
         onmouseup="playAudio('05clown_with_balloons.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 180px; height: 120px; left: 230px; top: 2px;"
         onmouseup="playAudio('09picnic_table.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 61px; height: 150px; left: 515px; top: 350px;"
         onmouseup="playAudio('13girl_with_a_doll.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 250px; height: 150px; left: 400px; top: 500px;"
         onmouseup="playAudio('06frog_pads.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 262px; height: 130px; left: 250px; top: 400px;"
         onmouseup="playAudio('04sandbox.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 270px; height: 170px; left: 710px; top: 420px;"
         onmouseup="playAudio('06parallel_bars.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 100px; height: 170px; left: 750px; top: 230px;"
         onmouseup="playAudio('17girl_with_a_jack-o-lantern_pumpkin.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 95px; height: 150px; left: 625px; top: 380px;"
         onmouseup="playAudio('04running_girl.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 70px; height: 90px; left: 550px; top: 240px;"
         onmouseup="playAudio('02Beagle.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 70px; height: 100px; left: 670px; top: 200px;"
         onmouseup="playAudio('05slide.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--ladder-->
    <div class="streetElement"
         style="width: 100px; height: 220px; left: 860px; top: 140px;"
         onmouseup="playAudio('ladder.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 220px; height: 150px; left: 760px; top: 1px;"
         onmouseup="playAudio('12house.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 110px; height: 170px; left: 1010px; top: 370px;"
         onmouseup="playAudio('11girl_doing_a_cartwheel_with_a_fishbowl.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

<!--father-->
    <div class="streetElement"
         style="width: 80px; height: 190px; left: 1160px; top: 269px;"
         onmouseup="playAudio('18father.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 115px; height: 90px; left: 1140px; top: 180px;"
         onmouseup="playAudio('05daughter.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 80px; height: 200px; left: 1030px; top: 180px;"
         onmouseup="playAudio('02swings.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 150px; height: 270px; left: 1260px; top: 240px;"
         onmouseup="playAudio('02swings.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 400px; height: 450px; left: 1470px; top: 140px;"
         onmouseup="playAudio('01tree.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 150px; height: 200px; left: 1850px; top: 400px;"
         onmouseup="playAudio('07path.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--blue runner-->
    <div class="streetElement"
         style="width: 150px; height: 240px; left: 1920px; top: 70px;"
         onmouseup="playAudio('runner.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--centipede-->
    <div class="streetElement"
         style="width: 150px; height: 120px; left: 2140px; top: 350px;"
         onmouseup="playAudio('15centipede.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 150px; height: 90px; left: 2070px; top: 490px;"
         onmouseup="playAudio('01housefly.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 150px; height: 90px; left: 2370px; top: 520px;"
         onmouseup="playAudio('01bee.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 110px; height: 60px; left: 2420px; top: 420px;"
         onmouseup="playAudio('11grasshopper.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 110px; height: 80px; left: 2390px; top: 320px;"
         onmouseup="playAudio('08wasp.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--millipede-->
    <div class="streetElement"
         style="width: 150px; height: 90px; left: 2600px; top: 520px;"
         onmouseup="playAudio('16millipede.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 130px; height: 50px; left: 2660px; top: 460px;"
         onmouseup="playAudio('14caterpillar.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 140px; height: 100px; left: 2760px; top: 500px;"
         onmouseup="playAudio('04dragonfly.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 130px; height: 100px; left: 3010px; top: 520px;"
         onmouseup="playAudio('10mosquito.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 130px; height: 120px; left: 3290px; top: 460px;"
         onmouseup="playAudio('13ants.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 130px; height: 120px; left: 2920px; top: 150px;"
         onmouseup="playAudio('19cicada.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 130px; height: 60px; left: 2410px; top: 590px;"
         onmouseup="playAudio('08dandelion.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 90px; height: 70px; left: 3230px; top: 400px;"
         onmouseup="playAudio('08dandelion.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
</div>

<script>
    let dragging = false;
    const audio = new Audio();

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            audio.src = '/audio/street/' + soundName;
            audio.play();    
        }
    }
</script>