<a href="../">
    <img id="homeButton" style="height:60px; float:left; margin-top: 5px; margin-left: 5px; position: absolute; top: 4px;" src="/images/buttons/backButton.png"/>
</a>
<a href="/street?store=26">
    <img id="homeButton" style="height:60px; float:left; margin-top: 5px; margin-left: 5px; position: absolute; top: 69px;" src="/images/buttons/home.png"/>
</a>

<div id="mainContainer">
    <img id="streetBackground" style="height: 850px; display: block; margin-left: 5px; margin-right: 5px;" src="/images/streetZoomedIn/pediatricianDoctorExam.png"/>
    <div class="category"
         style="height: 260px; width: 300px; top: 230px; left: 550px;"
         onmouseup="selectCategory('26/Medical Health Center/Pediatrician Doctor Exam/back');">
    </div>
    <div class="category"
         style="height: 92px; width: 215px; top: 685px; left: 170px;"
         onmouseup="selectCategory('26/Medical Health Center/Pediatrician Doctor Exam/feet');">
    </div>
    <div class="category"
         style="height: 100px; width: 90px; top: 465px; left: 100px;"
         onmouseup="selectCategory('26/Medical Health Center/Pediatrician Doctor Exam/hand');">
    </div>
    <div class="category"
         style="height: 70px; width: 90px; top: 400px; left: 330px;"
         onmouseup="selectCategory('26/Medical Health Center/Pediatrician Doctor Exam/hand');">
    </div>
    <div class="category"
         style="height: 225px; width: 200px; top: 5px; left: 190px;"
         onmouseup="selectCategory('26/Medical Health Center/Pediatrician Doctor Exam/head');">
    </div>
    <div class="category"
         style="height: 160px; width: 170px; top: 510px; left: 215px;"
         onmouseup="selectCategory('26/Medical Health Center/Pediatrician Doctor Exam/legs');">
    </div>
    <div class="category"
         style="height: 125px; width: 170px; top: 385px; left: 160px;"
         onmouseup="selectCategory('26/Medical Health Center/Pediatrician Doctor Exam/midbody');">
    </div>
    <div class="category"
         style="height: 115px; width: 270px; top: 230px; left: 130px;"
         onmouseup="selectCategory('26/Medical Health Center/Pediatrician Doctor Exam/upper body');">
    </div>

</div>





<script>
    const audio = new Audio();

    function playAudio(soundName) {
        //const audio = new Audio();
        if (!audio.paused){
            audio.pause();
        }
        audio.src = '/audio/categories/' + soundName;
        audio.play();
    }

    function zoomInwithAudio(areaName, soundName) {
        if (!audio.paused){
            audio.pause();
        }
        audio.src = '/audio/categories/26/' + soundName;

        audio.addEventListener("ended", function(){
            location.href= '/street/' + areaName;
        });

        audio.play();
    }
    function selectCategory(categoryName) {
        if (!audio.paused){
            audio.pause();
        }
        audio.src = '/audio/categories/' + categoryName + '.mp3';

        audio.addEventListener("ended", function(){
            location.href= '/category/' + categoryName;
        });

        audio.play();
    }
</script>