<div class="horizontal dragscroll background-container" id="mainContainer">
    <img id="streetBackground" style="height: 660px; z-index: 2;" src="/images/streetZoomedIn/people.png"/>

    <div class="streetElement" 
        style="height: 400px; width: 150px; top: 250px; left: 17px;" 
        onmouseup="playAudio('19plumber.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 189px; width: 138px; top: 58px; left: 17px;" 
        onmouseup="playAudio('20draws_wonderful_pictures.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 218px; width: 157px; top: 0; left: 147px;" 
        onmouseup="playAudio('05daughter.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 427px; width: 151px; top: 211px; left: 154px;" 
        onmouseup="playAudio('18father.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 588px; width: 127px; top: 40px; left: 315px;" 
        onmouseup="playAudio('24marine_officer.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 600px; width: 106px; top: 37px; left: 449px;" 
        onmouseup="playAudio('man_standing_with_arms_crossed.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 557px; width: 112px; top: 76px; left: 559px;" 
        onmouseup="playAudio('06army_soldier.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 550px; width: 159px; top: 68px; left: 668px;" 
        onmouseup="playAudio('15_yes_i_think_i_look_funny.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 593px; width: 163px; top: 28px; left: 829px;" 
        onmouseup="playAudio('08woman_wearing_a_kimono.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 480px; width: 138px; top: 134px; left: 991px;" 
        onmouseup="playAudio('14girl_wearing_a_kimono.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 620px; width: 143px; top: 27px; left: 1127px;" 
        onmouseup="playAudio('sister.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 569px; width: 186px; top: 78px; left: 1269px;" 
        onmouseup="playAudio('09plumber_scratching_his_head.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 639px; width: 217px; top: 8px; left: 1454px;" 
        onmouseup="playAudio('15_astronaut_in_an_EVA_suit.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 400px; width: 140px; top: 45px; left: 1671px;" 
        onmouseup="playAudio('26_i_dont_have_anything_to_do.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 597px; width: 152px; top: 27px; left: 1812px;" 
        onmouseup="playAudio('07navy_officer.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 291px; width: 127px; top: 40px; left: 1966px;" 
        onmouseup="playAudio('12girl_wearing_a_hijab_scarf.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 135px; width: 180px; top: 335px; left: 1940px;" 
        onmouseup="playAudio('05_fishbowl.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 473px; width: 111px; top: 67px; left: 2093px;" 
        onmouseup="playAudio('19takes_wonderful_photographs.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 481px; width: 130px; top: 100px; left: 2205px;" 
        onmouseup="playAudio('01good_at_arithmetic.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 222px; width: 128px; top: 15px; left: 2333px;" 
        onmouseup="playAudio('12_air_force_officer.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 388px; width: 390px; top: 240px; left: 2358px;" 
        onmouseup="playAudio('19girl_and_woman_wearing_saris.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
        style="height: 189px; width: 200px; top: 58px; left: 2511px;" 
        onmouseup="playAudio('19girl_and_woman_wearing_saris.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
</div>

<script>
    let dragging = false;

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            const audio = new Audio('/audio/street/' + soundName);
            audio.play();    
        }
    }
</script>