<div id="mainContainer">
    <img id="streetBackground" style="height: 850px; z-index: 2; display: block; margin-left: auto; margin-right: auto;" src="/images/streetZoomedIn/reptiles.png"/>

    <div class="fact blue"
         style = "top: 350px; left: 950px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact blue"
         style = "top: 350px; left: 1070px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact blue"
         style = "top: 350px; left: 1190px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact orange"
         style = "top: 60px; left: 540px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact orange"
         style = "top: 60px; left: 660px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact orange"
         style = "top: 60px; left: 780px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact pink"
         style = "top: 465px; left: 800px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact pink"
         style = "top: 465px; left: 920px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact pink"
         style = "top: 465px; left: 1040px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact purple"
         style = "top: 465px; left: 230px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact purple"
         style = "top: 465px; left: 350px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact purple"
         style = "top: 465px; left: 470px;"
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>
</div>

<script>
    let dragging = false;
    const audio = new Audio();

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            if (!audio.paused){
                audio.pause();
            }
            audio.src = '/audio/categories/18/' + soundName;
            audio.play();
        }
    }
</script>