<div id="mainContainer">
    <img id="streetBackground" style="height: 900px; z-index: 2; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;" src="/images/streetZoomedIn/reptiles.png"/>
    
    <div class="streetElement" 
         style="height: 380px; width: 570px; top: 40px; left: 180px;" 
         onmouseup="playAudio('alligator.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 300px; width: 580px; top: 580px; left: 160px;" 
         onmouseup="playAudio('rattlesnake.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 530px; width: 490px; top: 400px; left: 1020px;" 
         onmouseup="playAudio('iguana.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement" 
         style="height: 320px; width: 540px; top: 50px; left: 900px;" 
         onmouseup="playAudio('turtle.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

{{!-- Facts --}}
    <div class="fact blue"
         style = "top: 350px; left: 950px;"
         onmouseup="playAudio('turtle_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact blue"
         style = "top: 350px; left: 1070px;"
         onmouseup="playAudio('turtle_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact blue"
         style = "top: 350px; left: 1190px;"
         onmouseup="playAudio('turtle_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact orange"
         style = "top: 60px; left: 540px;"
         onmouseup="playAudio('alligator_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact orange"
         style = "top: 60px; left: 660px;"
         onmouseup="playAudio('alligator_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact orange"
         style = "top: 60px; left: 780px;"
         onmouseup="playAudio('alligator_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact pink"
         style = "top: 475px; left: 800px;"
         onmouseup="playAudio('iguana_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact pink"
         style = "top: 475px; left: 920px;"
         onmouseup="playAudio('iguana_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact pink"
         style = "top: 475px; left: 1040px;"
         onmouseup="playAudio('iguana_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>

    <div class="fact purple"
         style = "top: 465px; left: 230px;"
         onmouseup="playAudio('rattlesnake_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">1</h1>
    </div>
    <div class="fact purple"
         style = "top: 465px; left: 350px;"
         onmouseup="playAudio('rattlesnake_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">2</h1>
    </div>
     <div class="fact purple"
         style = "top: 465px; left: 470px;"
         onmouseup="playAudio('rattlesnake_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
         <h1 class="text-facts">3</h1>
    </div>
</div>

<script>
    let dragging = false;
    const audio = new Audio();

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            if (!audio.paused){
                audio.pause();
            }
            audio.src = '/audio/categories/18/Facts/reptiles/' + soundName;
            audio.play();
        }
    }
</script>