<!--<h2 id="header">street</h2>-->

<div class="horizontal dragscroll background-container" id="mainContainer">
    <!--<img id="low_res" style="height: 720px; z-index: 2;" src="/images/streetZoomedIn/schoolOutside.png"/>-->
    <img id="streetBackground" style="height: 660px; z-index: 2;" src="/images/streetZoomedIn/schoolOutside.png"/>

    <!--<div class="streetElement" style="height: 90px; width: 90px; top: 205px; left: 232px;" onmouseup="playAudio('apple.wav');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="category" style="height: 170px; width: 170px; top: 150px; left: 430px;" onmouseup="selectCategory('fruit');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->


    <div class="streetElement"
         style="width: 104px; height: 220px; left: 28px; top: 248px;"
         onmouseup="playAudio('teacher_2.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--TODO find the teacher_1 file for ^ this ^ element-->
    <div class="streetElement"
         style="width: 68px; height: 193px; left: 197px; top: 16px;"
         onmouseup="playAudio('teacher_2.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 72px; height: 151px; left: 209px; top: 306px;"
         onmouseup="playAudio('22_he_likes_to_play_on_parallel_bars.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 66px; height: 168px; left: 149px; top: 359px;"
         onmouseup="playAudio('he_cant_remember_what_it_was.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 351px; height: 290px; left: 407px; top: 248px;"
         onmouseup="playAudio('01swing.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 288px; height: 215px; left: 341px; top: 412px;"
         onmouseup="playAudio('06frog_pads.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 86px; height: 178px; left: 491px; top: 347px;"
         onmouseup="playAudio('skipping.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 108px; height: 148px; left: 375px; top: 227px;"
         onmouseup="playAudio('04running_boy.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 84px; height: 148px; left: 554px; top: 146px;"
         onmouseup="playAudio('15_he_wonders_how_to_make_it_dribble.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 100px; height: 133px; left: 652px; top: 89px;"
         onmouseup="playAudio('15boy_with_a_basketball.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 93px; height: 127px; left: 705px; top: 301px;"
         onmouseup="playAudio('girl_doing_a_cartwheel.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 313px; height: 288px; left: 810px; top: 241px;"
         onmouseup="playAudio('62_when_you_slide_on_a_slide_can_you_say_you_ride.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 74px; height: 69px; left: 794px; top: 591px;"
         onmouseup="playAudio('08girl_reading_a_book.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 75px; height: 129px; left: 780px; top: 330px;"
         onmouseup="playAudio('18girl_jumping_rope.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 165px; height: 240px; left: 838px; top: 1px;"
         onmouseup="playAudio('basketball_court.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 568px; height: 286px; left: 1140px; top: 1px;"
         onmouseup="playAudio('09bushes.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 215px; height: 118px; left: 1213px; top: 542px;"
         onmouseup="playAudio('22_naughty_students.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 137px; height: 118px; left: 1425px; top: 542px;"
         onmouseup="playAudio('22high_school_graduate.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 156px; height: 144px; left: 1520px; top: 17px;"
         onmouseup="playAudio('13_is_an_angel_floating_nearby_that_nobody_can_see.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


</div>

<script>
    let dragging = false;
    const audio = new Audio();

    function setDrag() {
        dragging = true;
    }

    function clearDrag() {
        dragging = false;
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
        } else {
            if (!audio.paused){
               audio.pause();
            }
            audio.src = '/audio/street/' + soundName;
            audio.play();    
        }
    }
</script>