<!--<h3 style="text-align: center; font-size: 17vh;">Welcome</h3>-->
<img style="max-width: 50vw; max-height: 80vh; margin-left: 25vw; margin-right: 25vw; align-self: center; z-index: 2;" src="/images/welcome/welcome.png"/>
<form style ="font-size: 7vh; text-align: center;" action="/street">
    <button type="submit" class="btn play-button"></button>
</form>