<h3 style="text-align: center; font-size: 20vh;">Welcome</h3>
<img style="width: 40vw; margin-left: 30vw; margin-right: 30vw; align-self: center; z-index: 2; margin-bottom: 5%;" src="/images/welcome/welcome.png"/>
<form action="/street">
    <input type="submit" value="Play" />
</form>