<h3 style="text-align: center; font-size: 17vh;">Welcome</h3>
<img style="width: 40vw; margin-left: 30vw; margin-right: 30vw; align-self: center; z-index: 2;" src="/images/welcome/welcome.png"/>
<form style ="font-size: 7vh; text-align: center;" action="/street">
    <input type="submit" value="Play" />
</form>