<!--<h2 id="header">street</h2>-->

<div class="horizontal dragscroll background-container" id="mainContainer">
    <img id="low_res" style="height: 720px; z-index: 2;" src="/images/streetBackground/small.jpg"/>
    <img id="streetBackground" style="height: 720px; display: none; z-index: 1; position: absolute; top:0; left: 0;" src="/images/streetBackground/front.jpg"/>

    <div class="streetElement" style="height: 90px; width: 90px; top: 205px; left: 232px;" onmouseup="playAudio('apple.wav');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="category" style="height: 170px; width: 170px; top: 150px; left: 430px;" onmouseup="selectCategory('fruit');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
</div>


<!--<a href="/progress">Progress</a>-->

<script>
    $(document).ready(function() {
        $('#mainContainer').scrollLeft(0);
    });

    $("#streetBackground").off().on("load", function() {
        console.log("DID THE THING");

        $("#streetBackground").css({
            "display" : "inline"
        });

        setTimeout(function () {
            $("#streetBackground").css({
                "position" : "relative"
            });
        }, 650);

        setTimeout(function () {
            $("#low_res").css({
                "display" : "none"
            });
        }, 650);

    });

    let dragging = false;
    const header = document.getElementById("header");

    function setDrag() {
        dragging = true;
        header.style.color = "green";
    }

    function clearDrag() {
        dragging = false;
        header.style.color = "red";
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
            header.style.color = "red";
        } else {
            const audio = new Audio('/audio/street/' + soundName);
            audio.play();    
        }
    }

    function selectCategory(categoryName) {
        if (dragging === true) {
            dragging = false;
            header.style.color = "red";
        } else {
            location.href= '/category/' + categoryName;
        }   
    }
</script>