<!--<h2 id="header">street</h2>-->

<div class="horizontal dragscroll background-container" id="mainContainer">
    <img id="low_res" style="height: 720px; z-index: 2;" src="/images/streetBackground/small.jpg"/>
    <img id="streetBackground" style="height: 720px; display: none; z-index: 1; position: absolute; top:0; left: 0;" src="/images/streetBackground/front.jpg"/>

    <div class="streetElement" style="height: 90px; width: 90px; top: 205px; left: 232px;" onmouseup="playAudio('apple.wav');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="category" style="height: 170px; width: 170px; top: 150px; left: 430px;" onmouseup="selectCategory('fruit');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--Start of Mylon's Street Elements (1-7)-->
    <div class="streetElement"
         Style = "width: 75px; height: 194px; top:153px; left:0px;"
         onmouseup="playAudio('walking_woman.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width: 60px; height: 154px; top:137px; left:87px;"
         onmouseup="playAudio('05businessman.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--Start of Noah's Street Elements (19-25)-->
    <!--19-->
    <div class="streetElement"
         style="height: 170px; width: 83px; top: 102px; left: 22191px;"
         onmouseup="playAudio('19_a_man_with_a_cane_needs_to_look_where_he_walks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="height: 268px; width: 277px; top: 210px; left: 22202px;"
         onmouseup="playAudio('15_a_flatbed_truck_with_three_tires_showing.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="height: 118px; width: 105px; top: 573px; left: 22202px;"
         onmouseup="playAudio('14traffic_cones.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="height: 118px; width: 105px; top: 485px; left: 22320px;"
         onmouseup="playAudio('14traffic_cones.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>



    <div class="streetElement"
         style="height: 262px; width: 323px; top: 440px; left: 22438px;"
         onmouseup="playAudio('07front_loader.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="height: 113px; width: 133px; top: 590px; left: 22715px;"
         onmouseup="playAudio('10bucket.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 499px; height: 113px; left: 22743px; top: 466px;"
         onmouseup="playAudio('14traffic_cones.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 514px; height: 121px; left: 22856px; top: 577px;"
         onmouseup="playAudio('dirt.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 110px; height: 85px; left: 22215px; top: 28px;"
         onmouseup="playAudio('10spider.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 90px; height: 70px; left: 22262px; top: 94px;"
         onmouseup="playAudio('07Ivy_League.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 82px; height: 56px; left: 22328px; top: 145px;"
         onmouseup="playAudio('04broom.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 100px; height: 71px; left: 22367px; top: 54px;"
         onmouseup="playAudio('06fro.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 69px; height: 71px; left: 22490px; top: 100px;"
         onmouseup="playAudio('05straight_fall.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 89px; height: 62px; left: 22540px; top: 46px;"
         onmouseup="playAudio('12Princess_Leia.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--<div class="streetElement"-->
         <!--style="width: 66px; height: 72px; left: 22430px; top: 135px;"-->
         <!--onmouseup="playAudio('mohawk????.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->


    <div class="streetElement"
         style="width: 90px; height: 83px; left: 22545px; top: 125px;"
         onmouseup="playAudio('monkey_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 114px; height: 148px; left: 22632px; top: 131px;"
         onmouseup="playAudio('baboon_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 136px; height: 144px; left: 22736px; top: 179px;"
         onmouseup="playAudio('gorilla_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--<div class="streetElement"-->
         <!--style="width: 98px; height: 65px; left: 22800px; top: 53px;"-->
         <!--onmouseup="playAudio('shaggy???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->

    <div class="streetElement"
         style="width: 52px; height: 65px; left: 22890px; top: 75px;"
         onmouseup="playAudio('10cowboy_hat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 154px; height: 70px; left: 22837px; top: 145px;"
         onmouseup="playAudio('19_where_is_he_riding.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <!--20-->

    <div class="streetElement"
         style="width: 84px; height: 127px; left: 23022px; top: 87px;"
         onmouseup="playAudio('01penguin.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 104px; height: 127px; left: 22998px; top: 212px;"-->
         <!--onmouseup="playAudio('rooster???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 371px; height: 171px; left: 23005px; top: 316px;"
         onmouseup="playAudio('05farm_tractor.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 103px; height: 96px; left: 23089px; top: 47px;"
         onmouseup="playAudio('08hard_hat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 174px; height: 135px; left: 23360px; top: 538px;"
         onmouseup="playAudio('10bucket.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 118px; height: 112px; left: 23202px; top: 46px;"
         onmouseup="playAudio('02power_saw.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 97px; height: 112px; left: 23328px; top: 85px;"
         onmouseup="playAudio('05bolt_cutters_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 128px; height: 77px; left: 23372px; top: 42px;"
         onmouseup="playAudio('02goggles.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 80px; height: 191px; left: 23424px; top: 102px;"
         onmouseup="playAudio('04running_girl.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 80px; height: 136px; left: 23701px; top: 47px;"
         onmouseup="playAudio('07claw_hammer.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 80px; height: 136px; left: 23937px; top: 48px;"
         onmouseup="playAudio('02monkey_wrench.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 304px; height: 283px; left: 23649px; top: 188px;"
         onmouseup="playAudio('01ice_cream_truck.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 413px; height: 267px; left: 23621px; top: 438px;"
         onmouseup="playAudio('20_an_excavator_has_one_driver_and_one_big_bucket.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 74px; height: 129px; left: 23979px; top: 244px;"
         onmouseup="playAudio('11_an_ice_cream_truck_is_my_favorite_truck_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--21-->

    <div class="streetElement"
         style="width: 86px; height: 137px; left: 24037px; top: 206px;"
         onmouseup="playAudio('with_his_arms_spread_wide.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 62px; height: 145px; left: 24119px; top: 151px;"
         onmouseup="playAudio('21_she_wants_her_friend_to_phone_her.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 103px; height: 145px; left: 24184px; top: 163px;"
         onmouseup="playAudio('shes_wondering_whether_to_eat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 78px; height: 145px; left: 24398px; top: 138px;"
         onmouseup="playAudio('18girl_jumping_rope.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 294px; height: 124px; left: 24018px; top: 356px;"-->
         <!--onmouseup="playAudio('dune_buggy??????.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->

    <div class="streetElement"
         style="width: 102px; height: 246px; left: 24033px; top: 474px;"
         onmouseup="playAudio('policeman.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 527px; height: 201px; left: 24140px; top: 487px;"
         onmouseup="playAudio('06police_car.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 436px; height: 171px; left: 24355px; top: 295px;"
         onmouseup="playAudio('06boat_trailer.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 89px; height: 155px; left: 24595px; top: 147px;"
         onmouseup="playAudio('hes_being_careful_not_to_step_on_the_sidewalk_cracks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 94px; height: 86px; left: 24090px; top: 47px;"
         onmouseup="playAudio('01bowler_hat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 94px; height: 86px; left: 24183px; top: 83px;"
         onmouseup="playAudio('12beanie_cap.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 94px; height: 86px; left: 24279px; top: 55px;"
         onmouseup="playAudio('09coonskin_cap.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 106px; height: 73px; left: 24374px; top: 73px;"
         onmouseup="playAudio('11sombrero.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 106px; height: 73px; left: 24646px; top: 43px;"-->
         <!--onmouseup="playAudio('officers_hat???????.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 135px; height: 195px; left: 24683px; top: 149px;"
         onmouseup="playAudio('dolphin_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 95px; height: 73px; left: 24678px; top: 117px;"
         onmouseup="playAudio('21_a_brown_hat_looks_better_with_a_feather.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 87px; height: 220px; left: 24841px; top: 0px;"
         onmouseup="playAudio('09bushes.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 72px; height: 163px; left: 24871px; top: 182px;"
         onmouseup="playAudio('13college_graduate.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 137px; height: 132px; left: 24875px; top: 553px;"
         onmouseup="playAudio('do_you_think_the_robber_is_just_running_for_exercise.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--22-->

    <div class="streetElement"
         style="width: 63px; height: 65px; left: 24947px; top: 50px;"
         onmouseup="playAudio('hes_my_best_friend.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25008px; top: 57px;"
         onmouseup="playAudio('i_hope_my_paper_plane_doesnt_hit_the_pilot.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25074px; top: 34px;"
         onmouseup="playAudio('25boy_with_his_tongue_out.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25180px; top: 34px;"
         onmouseup="playAudio('teacher_with_marionette.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
        style="width: 63px; height: 70px; left: 25279px; top: 34px;"
        onmouseup="playAudio('14hamster.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 24975px; top: 132px;"
         onmouseup="playAudio('teacher_at_blackboard.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25074px; top: 132px;"
         onmouseup="playAudio('05dunce_cap.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25180px; top: 132px;"
         onmouseup="playAudio('teacher_at_desk.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25279px; top: 132px;"
         onmouseup="playAudio('childrens_artwork.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 50px; height: 31px; left: 25127px; top: 102px;"
         onmouseup="playAudio('01paper_plane.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>




    <div class="streetElement"
         style="width: 620px; height: 201px; left: 24960px; top: 262px;"
         onmouseup="playAudio('22_at_three_oclock_children_can_go_home_from_school.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 62px; height: 166px; left: 25369px; top: 34px;"
         onmouseup="playAudio('00alphabet_letters.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 231px; height: 66px; left: 25445px; top: 158px;"-->
         <!--onmouseup="playAudio('stairs????.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 114px; height: 62px; left: 25390px; top: 127px;"
         onmouseup="playAudio('10flag_and_pole.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 34px; height: 66px; left: 25602px; top: 152px;"
         onmouseup="playAudio('tardy_student_late_for_class.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 49px; height: 89px; left: 25634px; top: 160px;"
         onmouseup="playAudio('tardy_students_mother.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 58px; height: 166px; left: 25697px; top: 35px;"
         onmouseup="playAudio('00numbers.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 474px; height: 240px; left: 25768px; top: 453px;"
         onmouseup="playAudio('08tow_truck.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 401px; height: 166px; left: 25397px; top: 523px;"
         onmouseup="playAudio('22_it_had_a_wreck_and_it_had_to_be_towed.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 30px; height: 93px; left: 25573px; top: 284px;"
         onmouseup="playAudio('22_01_eats_very_well_with_chopsticks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 27px; height: 93px; left: 25601px; top: 273px;"
         onmouseup="playAudio('22_02_saves_coins_in_a_piggy_bank.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
        style="width: 29px; height: 93px; left: 25626px; top: 270px;"
        onmouseup="playAudio('22_03_helps_fold_the_laundry.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 29px; height: 93px; left: 25651px; top: 263px;"
         onmouseup="playAudio('22_04_helps_clean_and_put_away_the_forks_and_spoons.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 29px; height: 93px; left: 25680px; top: 260px;"
         onmouseup="playAudio('22_05_good_at_addition.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 29px; height: 93px; left: 25707px; top: 267px;"
         onmouseup="playAudio('22_06_can_fly_a_model_helicopter.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 29px; height: 93px; left: 25736px; top: 267px;"
         onmouseup="playAudio('22_07_makes_excellent_paper_planes.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 25px; height: 93px; left: 25760px; top: 257px;"
         onmouseup="playAudio('22_08_can_imagine_animals_no_one_has_ever_seen.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 25px; height: 93px; left: 25783px; top: 240px;"
         onmouseup="playAudio('22_09_can_swim_under_water.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 25px; height: 93px; left: 25804px; top: 227px;"
         onmouseup="playAudio('22_10_is_this_a_softball_uniform.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>



    <div class="streetElement"
         style="width: 85px; height: 133px; left: 25854px; top: 220px;"
         onmouseup="playAudio('18girl_and_woman_wearing_saris.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 52px; height: 33px; left: 25934px; top: 215px;"
         onmouseup="playAudio('24boy_reading_a_book.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 52px; height: 33px; left: 25983px; top: 214px;"
         onmouseup="playAudio('boy_lounging_on_his_tummy.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 38px; height: 45px; left: 26040px; top: 195px;"
         onmouseup="playAudio('08girl_reading_a_book.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 72px; height: 73px; left: 26029px; top: 261px;"
         onmouseup="playAudio('09wheel_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 35px; height: 88px; left: 26140px; top: 246px;"
         onmouseup="playAudio('boy_with_a_tuba.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 57px; height: 93px; left: 26169px; top: 228px;"
         onmouseup="playAudio('hes_remembering_his_favorite_roller_coaster.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 69px; height: 168px; left: 26256px; top: 180px;"
         onmouseup="playAudio('22high_school_graduate.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 53px; height: 57px; left: 26288px; top: 0px;"
         onmouseup="playAudio('13_is_an_angel_floating_nearby_that_nobody_can_see.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <!--23-->
    <div class="streetElement"
         style="width: 478px; height: 249px; left: 26375px; top: 248px;"
         onmouseup="playAudio('06VW_bug.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 190px; height: 137px; left: 26377px; top: 126px;"
         onmouseup="playAudio('hes_my_best_friend.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 72px; height: 163px; left: 26428px; top: 166px;"
         onmouseup="playAudio('he_wonders_if_he_asks_politely.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 315px; height: 333px; left: 26413px; top: 331px;"
         onmouseup="playAudio('23_does_he_know_where_hes_walking.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 69px; height: 119px; left: 26792px; top: 164px;"
         onmouseup="playAudio('03built_a_birdhouse_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 69px; height: 141px; left: 26881px; top: 201px;"
         onmouseup="playAudio('08girl_carrying_a_canary_in_a_cage.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>




    <div class="streetElement"
         style="width: 88px; height: 76px; left: 26728px; top: 44px;"
         onmouseup="playAudio('09moccasins.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 88px; height: 76px; left: 26822px; top: 54px;"
         onmouseup="playAudio('13high_heels.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width:88px; height: 76px; left: 26908px; top: 53px;"-->
         <!--onmouseup="playAudio('14slippers????.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 139px; height: 69px; left: 26994px; top: 45px;"
         onmouseup="playAudio('06hiking_shoes_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 52px; height: 86px; left: 26726px; top: 118px;"
         onmouseup="playAudio('15ballet_slippers.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 52px; height: 71px; left: 26865px; top: 137px;"
         onmouseup="playAudio('05jack_in_the_box.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 93px; height: 83px; left: 27038px; top: 111px;"
         onmouseup="playAudio('03boots.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>



    <div class="streetElement"
         style="width: 357px; height: 258px; left: 27004px; top: 192px;"
         onmouseup="playAudio('05pumper_fire_truck.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 705px; height: 332px; left: 26808px; top: 360px;"
         onmouseup="playAudio('14van.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <!--24-->
    <div class="streetElement"
         style="width: 155px; height: 263px; left: 27384px; top: 195px;"
         onmouseup="playAudio('24_the_fire_truck_can_shoot_water_out.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
               style="width: 419px; height: 263px; left: 27539px; top: 194px;"
               onmouseup="playAudio('24_the_pumper_truck_helps_firemen_fight_fires.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 161px; height: 161px; left: 27209px; top: 241px;"
         onmouseup="playAudio('24_i_am_hungry_lion_thinks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 646px; height: 307px; left: 27628px; top: 346px;"-->
         <!--onmouseup="playAudio('trolley_car?????.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 138px; height: 148px; left: 27588px; top: 492px;"
         onmouseup="playAudio('kangaroo_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 87px; height: 186px; left: 27715px; top: 445px;"
         onmouseup="playAudio('passenger.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 161px; height: 122px; left: 27781px; top: 225px;"
         onmouseup="playAudio('24_no_bears_sat_on_the_chair.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>



    <!--25-->



    <!--End of Noah's Street Elements (19-25)-->
</div>


<!--<a href="/progress">Progress</a>-->

<script>
    // $(document).ready(function() {
        // window.scrollTo(0, 1);
        // $('#mainContainer').scrollLeft(0);
    // });

    $("#streetBackground").off().on("load", function() {
        console.log("DID THE THING");

        $("#streetBackground").css({
            "display" : "inline"
        });

        setTimeout(function () {
            $("#streetBackground").css({
                "position" : "relative"
            });
        }, 650);

        setTimeout(function () {
            $("#low_res").css({
                "display" : "none"
            });
        }, 650);

    });

    let dragging = false;
    const header = document.getElementById("header");

    function setDrag() {
        dragging = true;
        header.style.color = "green";
    }

    function clearDrag() {
        dragging = false;
        header.style.color = "red";
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
            header.style.color = "red";
        } else {
            const audio = new Audio('/audio/street/' + soundName);
            audio.play();    
        }
    }

    function selectCategory(categoryName) {
        if (dragging === true) {
            dragging = false;
            header.style.color = "red";
        } else {
            location.href= '/category/' + categoryName;
        }   
    }
</script>