<!--<h2 id="header">street</h2>-->

<div class="horizontal dragscroll background-container" id="mainContainer">
    <img id="low_res" style="height: 720px; z-index: 2;" src="/images/streetBackground/small.jpg"/>
    <img id="streetBackground" style="height: 720px; display: none; z-index: 1; position: absolute; top:0; left: 0;" src="/images/streetBackground/front.jpg"/>

<<<<<<< Updated upstream
    <!--<div class="streetElement" style="height: 90px; width: 90px; top: 205px; left: 232px;" onmouseup="playAudio('apple.wav');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="category" style="height: 170px; width: 170px; top: 150px; left: 430px;" onmouseup="selectCategory('fruit');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->

    <!--Start of Zoomed In Section Links-->
    <div class="zoomArea"
         Style = "width: 572px; height: 220px; left: 25775px; top: 1px;"
         onmouseup="zoomIn('schoolOutside');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--End of Zoomed In Section Links-->


    <!--Start of Mylon's Street Elements (1-7)-->

    <!--1-->
    <div class="streetElement"
         Style = "width: 75px; height: 194px; top:153px; left:0px;"
         onmouseup="playAudio('walking_woman.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width: 60px; height: 154px; top:137px; left:87px;"
         onmouseup="playAudio('05businessman.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--Style = "left:48px; top:55px; width:78px; height: 74px;  "-->
         <!--onmouseup="playAudio('cockerspaniel');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="streetElement"-->
         <!--Style = "left:150px; top:68px; width:100px; height: 75px;  "-->
         <!--onmouseup="playAudio('dachshund');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="streetElement"-->
         <!--Style = "left:426px; top:88px; width:88px; height: 77px;  "-->
         <!--onmouseup="playAudio('poodle');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="streetElement"-->
         <!--Style = "left:214px; top:114px; width:37px; height: 22px;  "-->
         <!--onmouseup="playAudio('hot dog');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->

    <div class="streetElement"
         Style = "width: 299px; height: 125px; top:348px; left:165px;"
         onmouseup="playAudio('03grizzly_bear.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width: 111px; height: 118px; top:65px; left:281px;"
         onmouseup="playAudio('09German_shepherd.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width: 737px; height: 159px; top:479px; left:102px;"
         onmouseup="playAudio('16_she_says_we_have_a_bear_in_our_truck.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width: 679px; height: 158px; left:153px; top:192px; "
         onmouseup="playAudio('13mobile_library_truck.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width: 99px; height: 33px; left:146px; top:164px; "
         onmouseup="playAudio('11bench.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width: 174px; height: 257px; left:539px; top:0px; "
         onmouseup="playAudio('01dogs.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width: 133px; height: 60px; left:171px; top:3px; "
         onmouseup="playAudio('seagull_new.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width:78px; height: 137px; left:721px; top:51px; "
         onmouseup="playAudio('07Collie.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width:53px; height: 32px; left:718px; top:46px; "
         onmouseup="playAudio('03butterfly.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width:86px; height: 96px; left:808px; top:4px; "
         onmouseup="playAudio('pelican_new.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width:145px; height: 211px; left:784px; top:132px; "
         onmouseup="playAudio('06forklift.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--end of store 1-->

    <!--2-->
    <div class="streetElement"
         Style = "width:63px; height: 104px; left:901px; top:28px; "
         onmouseup="playAudio('06Crayons.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width:126px; height: 138px; left:950px; top:206px; "
         onmouseup="playAudio('secret_child_stuff.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width:75px; height: 128px; left:968px; top:62px; "
         onmouseup="playAudio('01.5_jack_in_the_box_says_look_at_me.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width:83px; height: 116px; left:1034px; top:72px; "
         onmouseup="playAudio('05jack_in_the_box.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width:107px; height: 148px; left:986px; top:434px; "
         onmouseup="playAudio('chimp_3.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "width:413px; height: 138px; left:1093px; top:438px; "
         onmouseup="playAudio('trash_can.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1119px; top:70px; width:141px; height: 103px;  "
         onmouseup="playAudio('07sled.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1063px; top:317px; width:416px; height: 118px;  "
         onmouseup="playAudio('02pizza_delivery_car.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1200px; top:193px; width:85px; height: 124px;  "
         onmouseup="playAudio('10girl_walking_with_tablet.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1290px; top:71px; width:99px; height: 103px;  "
         onmouseup="playAudio('06wagon.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1284px; top:173px; width:133px; height: 133px;  "
         onmouseup="playAudio('13eagle.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1403px; top:50px; width:82px; height: 246px;  "
         onmouseup="playAudio('02_the_statue_man_has_glasses_but_can_not_see.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1489px; top:49px; width:92px; height: 84px;  "
         onmouseup="playAudio('01rocking_horse.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1518px; top:121px; width:90px; height: 177px;  "
         onmouseup="playAudio('06dog_walking_a_boy.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1598px; top:1px; width:143px; height: 39px;  "
         onmouseup="playAudio('street_light.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1728px; top:19px; width:76px; height: 57px;  "
         onmouseup="playAudio('macaw_parrot_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1588px; top:46px; width:177px; height: 172px;  "
         onmouseup="playAudio('01toys.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1579px; top:223px; width:806px; height: 112px;  "
         onmouseup="playAudio('02city_bus.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1491px; top:356px; width:338px; height: 285px;  "
         onmouseup="playAudio('15_a_flatbed_truck_with_three_tires_showing.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1782px; top:99px; width:107px; height: 75px;  "
         onmouseup="playAudio('08pirate _looking_through_a_spyglass.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:1871px; top:49px; width:68px; height: 137px;  "
         onmouseup="playAudio('09telescope.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         Style = "width:74px; height:60px; left:1787px; top:170px; "
         onmouseup="playAudio('trash_can.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2012px; top:1px; width:211px; height: 236px;  "
         onmouseup="playAudio('03Bakery.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--end of 2-->

    <!--3-->
    <!--<div class="streetElement"-->
         <!--Style = "left:1909px; top:351px; width:601px; height: 352px;  "-->
         <!--onmouseup="playAudio('snowblower');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         Style = "left:2120px; top:78px; width:101px; height: 146px;  "
         onmouseup="playAudio('27man_in_a_rabbit_costume.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2228px; top:75px; width:51px; height: 149px;  "
         onmouseup="playAudio('13Saint_bernard.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2275px; top:45px; width:75px; height: 103px;  "
         onmouseup="playAudio('05muffins_.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2350px; top:99px; width:54px; height: 69px;  "
         onmouseup="playAudio('15bunny.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2379px; top:75px; width:96px; height: 73px;  "
         onmouseup="playAudio('01cake.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2333px; top:166px; width:82px; height: 55px;  "
         onmouseup="playAudio('11bench.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2438px; top:130px; width:62px; height: 51px;  "
         onmouseup="playAudio('18mask_of_bunny.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2495px; top:50px; width:102px; height: 122px;  "
         onmouseup="playAudio('08gingerbread_man.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2472px; top:0px; width:182px; height: 48px;  "
         onmouseup="playAudio('street_light.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--end of 3-->

    <!--4-->
    <div class="streetElement"
         Style = "left:2768px; top:116px; width:87px; height: 100px;  "
         onmouseup="playAudio('someone_reading_an_invisible_book.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2806px; top:0px; width:75px; height: 76px;  "
         onmouseup="playAudio('Do you think she has a favorite picture..mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:2885px; top:4px; width:209px; height: 201px;  "
         onmouseup="playAudio('01tree.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:3099px; top:133px; width:74px; height: 178px;  "
         onmouseup="playAudio('04_is_this_what_a_doughnut_hole_looks_like.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:3274px; top:119px; width:54px; height: 135px;  "
         onmouseup="playAudio('04_she_watched_very_closely.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--Style = "left:3332px; top:0px; width:98px; height: 206px;  "-->
         <!--onmouseup="playAudio('safety bArrier');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="streetElement"-->
         <!--Style = "left:3235px; top:282px; width:100px; height: 121px;  "-->
         <!--onmouseup="playAudio('safety bArrier');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="streetElement"-->
         <!--Style = "left:2702px; top:376px; width:396px; height: 318px;  "-->
         <!--onmouseup="playAudio('tank truck');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         Style = "left:3570px; top:479px; width:308px; height: 83px;  "
         onmouseup="playAudio('14traffic_cones.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         Style = "left:3549px; top:286px; width:257px; height: 172px;  "
         onmouseup="playAudio('15carpenters.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:3593px; top:336px; width:52px; height: 109px;  "
         onmouseup="playAudio('zcarpenter_sawing.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:3670px; top:319px; width:89px; height: 128px;  "
         onmouseup="playAudio('carpenter_chiseling_with_a_chisel.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:3503px; top:15px; width:138px; height: 205px;  "
         onmouseup="playAudio('04construction_site.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:3642px; top:4px; width:84px; height: 110px;  "
         onmouseup="playAudio('laborer_shoveling.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:4093px; top:3px; width:347px; height: 172px;  "
         onmouseup="playAudio('02roller.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:4155px; top:238px; width:229px; height: 232px;  "
         onmouseup="playAudio('09dump_truck.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:4448px; top:46px; width:137px; height: 247px;  "
         onmouseup="playAudio('01bed.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:4584px; top:200px; width:186px; height: 213px;  "
         onmouseup="playAudio('01bed.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         Style = "left:4212px; top:478px; width:459px; height: 92px;  "
         onmouseup="playAudio('14traffic_cones.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         Style = "left:3976px; top:484px; width:217px; height: 171px;  "
         onmouseup="playAudio('05motorcycle.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:4772px; top:390px; width:158px; height: 106px;  "
         onmouseup="playAudio('dirt.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:4715px; top:6px; width:209px; height: 192px;  "
         onmouseup="playAudio('dirt.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:4828px; top:195px; width:138px; height: 81px;  "
         onmouseup="playAudio('04_they_look_for_tadpoles_to_eat.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5043px; top:3px; width:90px; height: 173px;  "
         onmouseup="playAudio('07plumber_scratching_his_head.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5090px; top:129px; width:118px; height: 221px;  "
         onmouseup="playAudio('12broken_pipe_spraying_water.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5186px; top:48px; width:113px; height: 158px;  "
         onmouseup="playAudio('06ditch_digger_shoveling.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--Style = "left:4876px; top:465px; width:230px; height: 216px;  "-->
         <!--onmouseup="playAudio('golfcart?');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         Style = "left:4840px; top:498px; width:95px; height: 90px;  "
         onmouseup="playAudio('18_the_boxer_dog_is_big.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5290px; top:285px; width:126px; height: 143px;  "
         onmouseup="playAudio('10bucket.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5360px; top:40px; width:300px; height: 197px;  "
         onmouseup="playAudio('dirt.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5402px; top:201px; width:89px; height: 166px;  "
         onmouseup="playAudio('19plumber.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5126px; top:478px; width:459px; height: 92px;  "
         onmouseup="playAudio('14traffic_cones.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5126px; top:478px; width:459px; height: 92px;  "
         onmouseup="playAudio('14traffic_cones.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         Style = "left:5811px; top:478px; width:302px; height: 92px;  "
         onmouseup="playAudio('14traffic_cones.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5533px; top:278px; width:493px; height: 203px;  "
         onmouseup="playAudio('04backhoe.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--Style = "left:5980px; top:368px; width:103px; height: 120px;  "-->
         <!--onmouseup="playAudio('shovel mp3?');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         Style = "left:5684px; top:100px; width:51px; height: 118px;  "
         onmouseup="playAudio('blade.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:5736px; top:1px; width:415px; height: 236px;  "
         onmouseup="playAudio('05Bulldozer.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6201px; top:209px; width:121px; height: 178px;  "
         onmouseup="playAudio('16proposing_marriage_on_one_knee.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6452px; top:453px; width:60px; height: 138px;  "
         onmouseup="playAudio('04_he_said_he_saw_a_centaurette.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6510px; top:416px; width:40px; height: 135px;  "
         onmouseup="playAudio('she_said_she_saw_a_cantaur_leap_over_a_wolf.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6305px; top:13px; width:74px; height: 67px;  "
         onmouseup="playAudio('05_if_fairies_were_hiding_here.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--Style = "left:6472px; top:3px; width:81px; height: 215px;  "-->
         <!--onmouseup="playAudio('safety bArrier');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="streetElement"-->
         <!--Style = "left:6506px; top:226px; width:53px; height: 142px;  "-->
         <!--onmouseup="playAudio('safety bArrier');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="streetElement"-->
         <!--Style = "left:6560px; top:354px; width:68px; height: 141px;  "-->
         <!--onmouseup="playAudio('safety bArrier');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->

    <!--end of 4-->


    <!--5-->
    <!--<div class="streetElement"-->
         <!--Style = "left:6534px; top:130px; width:47px; height: 66px;  "-->
         <!--onmouseup="playAudio('cockerspaniel');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         Style = "left:6600px; top:46px; width:62px; height: 153px;  "
         onmouseup="playAudio('06dog_walking_a_boy.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6564px; top:193px; width:55px; height: 157px;  "
         onmouseup="playAudio('04_trying_to_find_somebody.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6723px; top:332px; width:71px; height: 179px;  "
         onmouseup="playAudio('17girl_with_a_jack-o-lantern_pumpkin.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6740px; top:528px; width:86px; height: 127px;  "
         onmouseup="playAudio('04unicycle.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6808px; top:40px; width:51px; height: 165px;  "
         onmouseup="playAudio('04brick_layer_or_brick_mason_.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6881px; top:3px; width:204px; height: 222px;  "
         onmouseup="playAudio('05pets.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:6908px; top:291px; width:256px; height: 223px;  "
         onmouseup="playAudio('05jeep.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7072px; top:96px; width:92px; height: 175px;  "
         onmouseup="playAudio('21lady_with_stroller.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7169px; top:170px; width:46px; height: 116px;  "
         onmouseup="playAudio('16boy_with_a_teddy_bear.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7090px; top:50px; width:60px; height: 55px;  "
         onmouseup="playAudio('05_does_that_cats_smile_mean.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7083px; top:145px; width:48px; height: 32px;  "
         onmouseup="playAudio('12mouse.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7170px; top:120px; width:79px; height: 51px;  "
         onmouseup="playAudio('12tortoise.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7350px; top:1px; width:199px; height: 61px;  "
         onmouseup="playAudio('street_light.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7193px; top:35px; width:96px; height: 75px;  "
         onmouseup="playAudio('01macaw_parrot_.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7254px; top:128px; width:94px; height: 63px;  "
         onmouseup="playAudio('09ferret.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7308px; top:50px; width:101px; height: 68px;  "
         onmouseup="playAudio('14hamster.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7357px; top:133px; width:66px; height: 60px;  "
         onmouseup="playAudio('05_fishbowl.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7422px; top:44px; width:81px; height: 70px;  "
         onmouseup="playAudio('15bunny.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--Style = "left:7424px; top:120px; width:86px; height: 64px;  "-->
         <!--onmouseup="playAudio('guinea pig');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <!--<div class="streetElement"-->
         <!--Style = "left:7156px; top:308px; width:616px; height: 365px;  "-->
         <!--onmouseup="playAudio('garbage truck');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->

    <!--end of 5-->



    <!--6-->
    <div class="streetElement"
         Style = "left:7554px; top:73px; width:44px; height: 190px;  "
         onmouseup="playAudio('man_standing_with_arms_crossed.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7591px; top:122px; width:64px; height: 148px;  "
         onmouseup="playAudio('13guitar_player.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7654px; top:212px; width:56px; height: 134px;  "
         onmouseup="playAudio('skipping.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7642px; top:50px; width:46px; height: 113px;  "
         onmouseup="playAudio('01musician.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7701px; top:25px; width:167px; height: 204px;  "
         onmouseup="playAudio('00job_employment_agency.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7755px; top:160px; width:32px; height: 129px;  "
         onmouseup="playAudio('takes_guitar_lessons.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7709px; top:219px; width:46px; height: 71px;  "
         onmouseup="playAudio('takes_guitar_lessons.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7773px; top:210px; width:78px; height: 106px;  "
         onmouseup="playAudio('06Greyhound.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7778px; top:399px; width:98px; height: 110px;  "
         onmouseup="playAudio('pterodactyl_1.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7858px; top:247px; width:71px; height: 81px;  "
         onmouseup="playAudio('03_do_you_see_an_empty_box_with_no_top_bottom_or_sides.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--Style = "left:7881px; top:49px; width:94px; height: 131px;  "-->
         <!--onmouseup="playAudio('singer');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         Style = "left:7963px; top:146px; width:73px; height: 170px;  "
         onmouseup="playAudio('04running_girl.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8036px; top:81px; width:125px; height: 118px;  "
         onmouseup="playAudio('15carpenters.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7895px; top:375px; width:371px; height: 78px;  "
         onmouseup="playAudio('01go-kart.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8060px; top:278px; width:100px; height: 102px;  "
         onmouseup="playAudio('01go-kart.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8163px; top:284px; width:95px; height: 94px;  "
         onmouseup="playAudio('teddy_bear.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7979px; top:1px; width:263px; height: 79px;  "
         onmouseup="playAudio('00job_employment_agency.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:7954px; top:490px; width:542px; height: 168px;  "
         onmouseup="playAudio('02convertible.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--Style = "left:8074px; top:458px; width:94px; height: 82px;  "-->
         <!--onmouseup="playAudio('the tyrannosaurus rex ate meat and had small powerful arms with two clawed fingers');"  onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         Style = "left:8234px; top:58px; width:52px; height: 141px;  "
         onmouseup="playAudio('04brick_layer_or_brick_mason_.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8329px; top:54px; width:84px; height: 134px;  "
         onmouseup="playAudio('06_a_painter_must_have_paints.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8438px; top:270px; width:283px; height: 115px;  "
         onmouseup="playAudio('07electric_car.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8364px; top:349px; width:194px; height: 126px;  "
         onmouseup="playAudio('07electric_car.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8308px; top:248px; width:130px; height: 92px;  "
         onmouseup="playAudio('03mailman_with_a_mailbox.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8315px; top:340px; width:51px; height: 25px;  "
         onmouseup="playAudio('03mailman_with_a_mailbox.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8396px; top:56px; width:118px; height: 184px;  "
         onmouseup="playAudio('25_robot_weird.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8469px; top:170px; width:89px; height: 84px;  "
         onmouseup="playAudio('i_wish_a_nice_little_girl.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8398px; top:3px; width:172px; height: 33px;  "
         onmouseup="playAudio('01light.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--end of 6-->


    <!--7-->
    <div class="streetElement"
         Style = "left:8611px; top:71px; width:222px; height: 122px;  "
         onmouseup="playAudio('06VW_bug.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8718px; top:204px; width:46px; height: 110px;  "
         onmouseup="playAudio('16girl_walking_a_poodle_on_a_leash.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8858px; top:0px; width:167px; height: 229px;  "
         onmouseup="playAudio('07vehicles.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8529px; top:389px; width:1017px; height: 242px;  "
         onmouseup="playAudio('02city_bus.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8911px; top:219px; width:538px; height: 166px;  "
         onmouseup="playAudio('09dump_truck.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:8818px; top:321px; width:93px; height: 65px;  "
         onmouseup="playAudio('09dump_truck.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:9028px; top:60px; width:183px; height: 126px;  "
         onmouseup="playAudio('05Bulldozer.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:9203px; top:158px; width:164px; height: 100px;  "
         onmouseup="playAudio('jaguar_2.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:9248px; top:61px; width:236px; height: 95px;  "
         onmouseup="playAudio('04ladder_fire_truck.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         Style = "left:9455px; top:114px; width:76px; height: 171px;  "
         onmouseup="playAudio('07_she_walks_to_go_home.mp3');"  onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--end of 7-->
    <!--End of Mylon's Street Elements (1-7)-->






    <!--Start of Noah's Street Elements (19-25)-->
    <!--19-->
    <div class="streetElement"
         style="height: 170px; width: 83px; top: 102px; left: 22191px;"
         onmouseup="playAudio('19_a_man_with_a_cane_needs_to_look_where_he_walks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="height: 268px; width: 277px; top: 210px; left: 22202px;"
         onmouseup="playAudio('15_a_flatbed_truck_with_three_tires_showing.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="height: 118px; width: 105px; top: 573px; left: 22202px;"
         onmouseup="playAudio('14traffic_cones.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="height: 118px; width: 105px; top: 485px; left: 22320px;"
         onmouseup="playAudio('14traffic_cones.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>



    <div class="streetElement"
         style="height: 262px; width: 323px; top: 440px; left: 22438px;"
         onmouseup="playAudio('07front_loader.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="height: 113px; width: 133px; top: 590px; left: 22715px;"
         onmouseup="playAudio('10bucket.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 499px; height: 113px; left: 22743px; top: 466px;"
         onmouseup="playAudio('14traffic_cones.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 514px; height: 121px; left: 22856px; top: 577px;"
         onmouseup="playAudio('dirt.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 110px; height: 85px; left: 22215px; top: 28px;"
         onmouseup="playAudio('10spider.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 90px; height: 70px; left: 22262px; top: 94px;"
         onmouseup="playAudio('07Ivy_League.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 82px; height: 56px; left: 22328px; top: 145px;"
         onmouseup="playAudio('04broom.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 100px; height: 71px; left: 22367px; top: 54px;"
         onmouseup="playAudio('06fro.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 69px; height: 71px; left: 22490px; top: 100px;"
         onmouseup="playAudio('05straight_fall.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 89px; height: 62px; left: 22540px; top: 46px;"
         onmouseup="playAudio('12Princess_Leia.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--<div class="streetElement"-->
         <!--style="width: 66px; height: 72px; left: 22430px; top: 135px;"-->
         <!--onmouseup="playAudio('mohawk???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->


    <div class="streetElement"
         style="width: 90px; height: 83px; left: 22545px; top: 125px;"
         onmouseup="playAudio('monkey_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 114px; height: 148px; left: 22632px; top: 131px;"
         onmouseup="playAudio('baboon_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 136px; height: 144px; left: 22736px; top: 179px;"
         onmouseup="playAudio('gorilla_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--<div class="streetElement"-->
         <!--style="width: 98px; height: 65px; left: 22800px; top: 53px;"-->
         <!--onmouseup="playAudio('shaggy???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->

    <div class="streetElement"
         style="width: 52px; height: 65px; left: 22890px; top: 75px;"
         onmouseup="playAudio('10cowboy_hat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 154px; height: 70px; left: 22837px; top: 145px;"
         onmouseup="playAudio('19_where_is_he_riding.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <!--20-->

    <div class="streetElement"
         style="width: 84px; height: 127px; left: 23022px; top: 87px;"
         onmouseup="playAudio('01penguin.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 104px; height: 127px; left: 22998px; top: 212px;"-->
         <!--onmouseup="playAudio('rooster???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 371px; height: 171px; left: 23005px; top: 316px;"
         onmouseup="playAudio('05farm_tractor.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 103px; height: 96px; left: 23089px; top: 47px;"
         onmouseup="playAudio('08hard_hat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 174px; height: 135px; left: 23360px; top: 538px;"
         onmouseup="playAudio('10bucket.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
         style="width: 118px; height: 112px; left: 23202px; top: 46px;"
         onmouseup="playAudio('02power_saw.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 97px; height: 112px; left: 23328px; top: 85px;"
         onmouseup="playAudio('05bolt_cutters_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    =======
    //Vocabulary Words
    <div class="streetElement"  onmouseup="playAudio('apple.wav');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

        <!--Exterior 8-12 Kelsey-->

    <div class="streetElement"
        style="height:125px;width:195px;top:225px;left:9645px;"
        onmouseup="playAudio('hippo.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:104px;width:79px;top:182px;left:9883px;"
        onmouseup="playAudio('child_with_a_sucker_in_a_wagon.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:321px;width:641px;top:378px;left:9601px;"
        onmouseup="playAudio('crane_truck.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:82px;width:70px;top:457px;left:10284px;"
        onmouseup="playAudio('sleepy_dog.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
        style="height:47px;width:67px;top:322px;left:10372px;"
        onmouseup="playAudio('tortoise.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:196px;width:122px;top:167px;left:10426px;"
        onmouseup="playAudio('05chef.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:106px;width:66px;top:116px;left:10147px;"
        onmouseup="playAudio('03boy_on_a_skateboard.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:117px;width:59px;top:104px;left:10274px;"
        onmouseup="playAudio('04elderly_woman_walking_with_a_cane.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:34px;width:29px;top:148px;left:10400px;"
        onmouseup="playAudio('09toad_on_a_toadstool.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:17px;width:33px;top:159px;left:10427px;"
        onmouseup="playAudio('02tree_stump.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:194px;width:136px;top:165px;left:10632px;"
        onmouseup="playAudio('08cartoonist.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:39px;width:46px;top:302px;left:10767px;"
        onmouseup="playAudio('tortoise.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:57px;width:181px;top:496px;left:10469px;"
        onmouseup="playAudio('11bloodhound.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:45px;width:58px;top:501px;left:10678px;"
        onmouseup="playAudio('08Labrador_retriever_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:141px;width:515px;top:552px;left:10474px;"
        onmouseup="playAudio('04suv_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:149px;width:402px;top:369px;left:10847px;"
        onmouseup="playAudio('05jeep.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:59px;width:70px;top:292px;left:10994px;"
        onmouseup="playAudio('09football_helmet.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:137px;width:550px;top:520px;left:11116px;"
        onmouseup="playAudio('02pizza_delivery_car.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

<!--cockerspaniel-->
<!--<divclass="streetElement"-->
<!--style="height:41px;width:50px;top:327px;left:11119px;"-->
<!--onmouseup="playAudio('.mp3');"onmousedown="clearDrag();"onmousemove="setDrag();">-->
<!--</div>-->

    <div class="streetElement"
        style="height:103px;width:142px;top:220px;left:11222px;"
        onmouseup="playAudio('08Labrador_retriever_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:122px;width:115px;top:233px;left:11392px;"
        onmouseup="playAudio('06Greyhound.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:164px;width:114px;top:175px;left:11548px;"
        onmouseup="playAudio('21lady_with_stroller.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:175px;width:84px;top:164px;left:11695px;"
        onmouseup="playAudio('01_army_soldier.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:161px;width:317px;top:357px;left:11605px;"
        onmouseup="playAudio('02pizza_delivery_car.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:156px;width:412px;top:522px;left:11814px;"
        onmouseup="playAudio('05farm_tractor.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:89px;width:41px;top:428px;left:11927px;"
        onmouseup="playAudio('08_the_little_boy_said_he_wanted_to_ride_the_tractor.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <div class="streetElement"
        style="height:154px;width:81px;top:195px;left:11925px;"
        onmouseup="playAudio('01walking_business_woman_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

<!--rooster-->
<!--<divclass="streetElement"-->
<!--style="height:62px;width:72px;top:459px;left:12151px;"-->
<!--onmouseup="playAudio('.mp3');"onmousedown="clearDrag();"onmousemove="setDrag();">-->
<!--</div>-->

    <div class="streetElement"
        style="height:50px;width:39px;top:231px;left:12130px;"
        onmouseup="playAudio('03butterfly.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>



<!--Zoomedinparkarea-->

<!--<divclass="streetElement"-->
<!--style="height:59px;width:71px;top:31px;left:9608px;opacity:0.5;"-->
<!--onmouseup="playAudio('hawk.mp3');"onmousedown="clearDrag();"onmousemove="setDrag();">-->
<!--</div>-->

<!--<divclass="streetElement"-->
<!--style="height:24px;width:37px;top:111px;left:9723px;opacity:0.5;"-->
<!--onmouseup="playAudio('swan.mp3');"onmousedown="clearDrag();"onmousemove="setDrag();">-->
<!--</div>-->

<!--<divclass="streetElement"-->
<!--style="height:20px;width:24px;top:121px;left:9765px;opacity:0.5;"-->
<!--onmouseup="playAudio('ducks.mp3');"onmousedown="clearDrag();"onmousemove="setDrag();">-->
<!--</div>-->


    // Store Category IDs
    <div class="category" onmouseup="selectCategory('fruit');" onmousedown="clearDrag();" onmousemove="setDrag();">
>>>>>>> Stashed changes
    </div>
    <div class="streetElement"
         style="width: 128px; height: 77px; left: 23372px; top: 42px;"
         onmouseup="playAudio('02goggles.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 80px; height: 191px; left: 23424px; top: 102px;"
         onmouseup="playAudio('04running_girl.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 80px; height: 136px; left: 23701px; top: 47px;"
         onmouseup="playAudio('07claw_hammer.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 80px; height: 136px; left: 23937px; top: 48px;"
         onmouseup="playAudio('02monkey_wrench.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 304px; height: 283px; left: 23649px; top: 188px;"
         onmouseup="playAudio('01ice_cream_truck.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 413px; height: 267px; left: 23621px; top: 438px;"
         onmouseup="playAudio('20_an_excavator_has_one_driver_and_one_big_bucket.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 74px; height: 129px; left: 23979px; top: 244px;"
         onmouseup="playAudio('11_an_ice_cream_truck_is_my_favorite_truck_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--21-->

    <div class="streetElement"
         style="width: 86px; height: 137px; left: 24037px; top: 206px;"
         onmouseup="playAudio('with_his_arms_spread_wide.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 62px; height: 145px; left: 24119px; top: 151px;"
         onmouseup="playAudio('21_she_wants_her_friend_to_phone_her.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 103px; height: 145px; left: 24184px; top: 163px;"
         onmouseup="playAudio('shes_wondering_whether_to_eat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 78px; height: 145px; left: 24398px; top: 138px;"
         onmouseup="playAudio('18girl_jumping_rope.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 294px; height: 124px; left: 24018px; top: 356px;"-->
         <!--onmouseup="playAudio('dune_buggy???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->

    <div class="streetElement"
         style="width: 102px; height: 246px; left: 24033px; top: 474px;"
         onmouseup="playAudio('policeman.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 527px; height: 201px; left: 24140px; top: 487px;"
         onmouseup="playAudio('06police_car.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 436px; height: 171px; left: 24355px; top: 295px;"
         onmouseup="playAudio('06boat_trailer.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 89px; height: 155px; left: 24595px; top: 147px;"
         onmouseup="playAudio('hes_being_careful_not_to_step_on_the_sidewalk_cracks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 94px; height: 86px; left: 24090px; top: 47px;"
         onmouseup="playAudio('01bowler_hat.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 94px; height: 86px; left: 24183px; top: 83px;"
         onmouseup="playAudio('12beanie_cap.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 94px; height: 86px; left: 24279px; top: 55px;"
         onmouseup="playAudio('09coonskin_cap.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 106px; height: 73px; left: 24374px; top: 73px;"
         onmouseup="playAudio('11sombrero.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 106px; height: 73px; left: 24646px; top: 43px;"-->
         <!--onmouseup="playAudio('officers_hat???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 135px; height: 195px; left: 24683px; top: 149px;"
         onmouseup="playAudio('dolphin_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 95px; height: 73px; left: 24678px; top: 117px;"
         onmouseup="playAudio('21_a_brown_hat_looks_better_with_a_feather.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 87px; height: 220px; left: 24841px; top: 0px;"
         onmouseup="playAudio('09bushes.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 72px; height: 163px; left: 24871px; top: 182px;"
         onmouseup="playAudio('13college_graduate.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 137px; height: 132px; left: 24875px; top: 553px;"
         onmouseup="playAudio('do_you_think_the_robber_is_just_running_for_exercise.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--22-->

    <div class="streetElement"
         style="width: 63px; height: 65px; left: 24947px; top: 50px;"
         onmouseup="playAudio('hes_my_best_friend.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25008px; top: 57px;"
         onmouseup="playAudio('i_hope_my_paper_plane_doesnt_hit_the_pilot.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25074px; top: 34px;"
         onmouseup="playAudio('25boy_with_his_tongue_out.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25180px; top: 34px;"
         onmouseup="playAudio('teacher_with_marionette.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
        style="width: 63px; height: 70px; left: 25279px; top: 34px;"
        onmouseup="playAudio('14hamster.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 24975px; top: 132px;"
         onmouseup="playAudio('teacher_at_blackboard.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25074px; top: 132px;"
         onmouseup="playAudio('05dunce_cap.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25180px; top: 132px;"
         onmouseup="playAudio('teacher_at_desk.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 70px; left: 25279px; top: 132px;"
         onmouseup="playAudio('childrens_artwork.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 50px; height: 31px; left: 25127px; top: 102px;"
         onmouseup="playAudio('01paper_plane.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>




    <div class="streetElement"
         style="width: 620px; height: 201px; left: 24960px; top: 262px;"
         onmouseup="playAudio('22_at_three_oclock_children_can_go_home_from_school.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 62px; height: 166px; left: 25369px; top: 34px;"
         onmouseup="playAudio('00alphabet_letters.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 231px; height: 66px; left: 25445px; top: 158px;"-->
         <!--onmouseup="playAudio('stairs???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 114px; height: 62px; left: 25390px; top: 127px;"
         onmouseup="playAudio('10flag_and_pole.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 34px; height: 66px; left: 25602px; top: 152px;"
         onmouseup="playAudio('tardy_student_late_for_class.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 49px; height: 89px; left: 25634px; top: 160px;"
         onmouseup="playAudio('tardy_students_mother.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 58px; height: 166px; left: 25697px; top: 35px;"
         onmouseup="playAudio('00numbers.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 474px; height: 240px; left: 25768px; top: 453px;"
         onmouseup="playAudio('08tow_truck.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 401px; height: 166px; left: 25397px; top: 523px;"
         onmouseup="playAudio('22_it_had_a_wreck_and_it_had_to_be_towed.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 30px; height: 93px; left: 25573px; top: 284px;"
         onmouseup="playAudio('22_01_eats_very_well_with_chopsticks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 27px; height: 93px; left: 25601px; top: 273px;"
         onmouseup="playAudio('22_02_saves_coins_in_a_piggy_bank.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
        style="width: 29px; height: 93px; left: 25626px; top: 270px;"
        onmouseup="playAudio('22_03_helps_fold_the_laundry.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 29px; height: 93px; left: 25651px; top: 263px;"
         onmouseup="playAudio('22_04_helps_clean_and_put_away_the_forks_and_spoons.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 29px; height: 93px; left: 25680px; top: 260px;"
         onmouseup="playAudio('22_05_good_at_addition.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 29px; height: 93px; left: 25707px; top: 267px;"
         onmouseup="playAudio('22_06_can_fly_a_model_helicopter.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 29px; height: 93px; left: 25736px; top: 267px;"
         onmouseup="playAudio('22_07_makes_excellent_paper_planes.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 25px; height: 93px; left: 25760px; top: 257px;"
         onmouseup="playAudio('22_08_can_imagine_animals_no_one_has_ever_seen.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 25px; height: 93px; left: 25783px; top: 240px;"
         onmouseup="playAudio('22_09_can_swim_under_water.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 25px; height: 93px; left: 25804px; top: 227px;"
         onmouseup="playAudio('22_10_is_this_a_softball_uniform.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>



    <div class="streetElement"
         style="width: 85px; height: 133px; left: 25854px; top: 220px;"
         onmouseup="playAudio('18girl_and_woman_wearing_saris.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 52px; height: 33px; left: 25934px; top: 215px;"
         onmouseup="playAudio('24boy_reading_a_book.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 52px; height: 33px; left: 25983px; top: 214px;"
         onmouseup="playAudio('boy_lounging_on_his_tummy.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 38px; height: 45px; left: 26040px; top: 195px;"
         onmouseup="playAudio('08girl_reading_a_book.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 72px; height: 73px; left: 26029px; top: 261px;"
         onmouseup="playAudio('09wheel_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 35px; height: 88px; left: 26140px; top: 246px;"
         onmouseup="playAudio('boy_with_a_tuba.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 57px; height: 93px; left: 26169px; top: 228px;"
         onmouseup="playAudio('hes_remembering_his_favorite_roller_coaster.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 69px; height: 168px; left: 26256px; top: 180px;"
         onmouseup="playAudio('22high_school_graduate.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 53px; height: 57px; left: 26288px; top: 0px;"
         onmouseup="playAudio('13_is_an_angel_floating_nearby_that_nobody_can_see.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <!--23-->
    <div class="streetElement"
         style="width: 478px; height: 249px; left: 26375px; top: 248px;"
         onmouseup="playAudio('06VW_bug.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 190px; height: 137px; left: 26377px; top: 126px;"
         onmouseup="playAudio('hes_my_best_friend.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 72px; height: 163px; left: 26428px; top: 166px;"
         onmouseup="playAudio('he_wonders_if_he_asks_politely.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 315px; height: 333px; left: 26413px; top: 331px;"
         onmouseup="playAudio('23_does_he_know_where_hes_walking.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 69px; height: 119px; left: 26792px; top: 164px;"
         onmouseup="playAudio('03built_a_birdhouse_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 69px; height: 141px; left: 26881px; top: 201px;"
         onmouseup="playAudio('08girl_carrying_a_canary_in_a_cage.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>




    <div class="streetElement"
         style="width: 88px; height: 76px; left: 26728px; top: 44px;"
         onmouseup="playAudio('09moccasins.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 88px; height: 76px; left: 26822px; top: 54px;"
         onmouseup="playAudio('13high_heels.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width:88px; height: 76px; left: 26908px; top: 53px;"-->
         <!--onmouseup="playAudio('14slippers???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 139px; height: 69px; left: 26994px; top: 45px;"
         onmouseup="playAudio('06hiking_shoes_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 52px; height: 86px; left: 26726px; top: 118px;"
         onmouseup="playAudio('15ballet_slippers.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 52px; height: 71px; left: 26865px; top: 137px;"
         onmouseup="playAudio('05jack_in_the_box.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 93px; height: 83px; left: 27038px; top: 111px;"
         onmouseup="playAudio('03boots.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>



    <div class="streetElement"
         style="width: 357px; height: 258px; left: 27004px; top: 192px;"
         onmouseup="playAudio('05pumper_fire_truck.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 705px; height: 332px; left: 26808px; top: 360px;"
         onmouseup="playAudio('14van.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <!--24-->
    <div class="streetElement"
         style="width: 155px; height: 263px; left: 27384px; top: 195px;"
         onmouseup="playAudio('24_the_fire_truck_can_shoot_water_out.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
               style="width: 419px; height: 263px; left: 27539px; top: 194px;"
               onmouseup="playAudio('24_the_pumper_truck_helps_firemen_fight_fires.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 161px; height: 161px; left: 27209px; top: 241px;"
         onmouseup="playAudio('24_i_am_hungry_lion_thinks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 646px; height: 307px; left: 27628px; top: 346px;"-->
         <!--onmouseup="playAudio('trolley_car???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 138px; height: 148px; left: 27588px; top: 492px;"
         onmouseup="playAudio('kangaroo_1.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 87px; height: 186px; left: 27715px; top: 445px;"
         onmouseup="playAudio('passenger.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 161px; height: 122px; left: 27781px; top: 225px;"
         onmouseup="playAudio('24_no_bears_sat_on_the_chair.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <div class="streetElement"
         style="width: 100px; height: 110px; left: 27230px; top: 75px;"
         onmouseup="playAudio('03clock.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 100px; height: 110px; left: 27343px; top: 73px;"
         onmouseup="playAudio('05fan.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 149px; height: 101px; left: 27464px; top: 95px;"
         onmouseup="playAudio('09basket.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 107px; height: 120px; left: 27621px; top: 72px;"
         onmouseup="playAudio('24_did_you_light_the_candle.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--<div class="streetElement"-->
         <!--style="width: 107px; height: 120px; left: 27759px; top: 72px;"-->
         <!--onmouseup="playAudio('06/04alarm_clock???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 59px; height: 166px; left: 27965px; top: 132px;"
         onmouseup="playAudio('she_shopped_for_a_new_scarf.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 542px; height: 154px; left: 28062px; top: 188px;"
         onmouseup="playAudio('07street_sweeper.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 174px; height: 86px; left: 28202px; top: 458px;"
         onmouseup="playAudio('the_street_cleaners_brush.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 69px; height: 63px; left: 28109px; top: 47px;"
         onmouseup="playAudio('06broom.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 69px; height: 64px; left: 28103px; top: 111px;"
         onmouseup="playAudio('07dust_pan.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <!--25-->
    <div class="streetElement"
         style="width: 123px; height: 100px; left: 28256px; top: 91px;"
         onmouseup="playAudio('07lawnmower.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 87px; height: 74px; left: 28289px; top: 56px;"
         onmouseup="playAudio('04flowers.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 80px; height: 103px; left: 28428px; top: 48px;"
         onmouseup="playAudio('01cactus.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 80px; height: 78px; left: 28358px; top: 108px;"
         onmouseup="playAudio('05hedge_clippers.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 101px; height: 69px; left: 28471px; top: 116px;"
         onmouseup="playAudio('07wheelbarrow.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 65px; height: 157px; left: 28646px; top: 185px;"
         onmouseup="playAudio('25_i_do_arithmetic_with_my_calculator.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 149px; height: 63px; left: 28790px; top: 127px;"
         onmouseup="playAudio('03hose.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 156px; height: 108px; left: 28736px; top: 172px;"
         onmouseup="playAudio('the_polar_bear_wonder_if_the_mobile_phone.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 50px; height: 173px; left: 28808px; top: 141px;"
         onmouseup="playAudio('12young_woman_carrying_groceries.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 50px; height: 170px; left: 28935px; top: 76px;"
         onmouseup="playAudio('will_the_hose_spray_get_his_pants_wet.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>


    <!--<div class="streetElement"-->
         <!--style="width: 413px; height: 311px; left: 28387px; top: 347px;"-->
         <!--onmouseup="playAudio('trolley_car????.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">-->
    <!--</div>-->
    <div class="streetElement"
         style="width: 81px; height: 173px; left: 28804px; top: 451px;"
         onmouseup="playAudio('25_robot_weird.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 75px; height: 179px; left: 28876px; top: 443px;"
         onmouseup="playAudio('25_i_hope_the_robot_gets_off_here.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 75px; height: 69px; left: 29021px; top: 68px;"
         onmouseup="playAudio('14_are_these_all_the_children_who_promised_not_to_be_naughty_tomorrow.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 46px; height: 49px; left: 29049px; top: 315px;"
         onmouseup="playAudio('02Beagle.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--End of Noah's Street Elements (19-25)-->

    <!--Start of Rachel's Street Elements (26-33)-->

    <!--26-->
    <div class="streetElement"
         style="width: 84px; height: 80px; left: 29130px; top: 13px;"
         onmouseup="playAudio('05cast.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 84px; height: 75px; left: 29130px; top: 113px;"
         onmouseup="playAudio('03eye_chart.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 110px; height: 84px; left: 29285px; top: 31px;"
         onmouseup="playAudio('20pediatrician_doctor_and_a_child_patient.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 110px; height: 84px; left: 29285px; top: 115px;"
         onmouseup="playAudio('nurse_and_child_patient.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
     <div class="streetElement"
         style="width: 65px; height: 70px; left: 29091px; top: 290px;"
         onmouseup="playAudio('02toddler_in_a_diaper_with_a_bottle.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    {{!-- <div class="streetElement"
         style="width: 110px; height: 145px; left: 29125px; top: 218px;"
         onmouseup="playAudio('pooper_scooper???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div> --}}
    <div class="streetElement"
         style="width: 430px; height: 226px; left: 29052px; top: 510px;"
         onmouseup="playAudio('26_an_armored_car_carries_money_for_banks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 312px; height: 192px; left: 29409px; top: 310px;"
         onmouseup="playAudio('26_an_ambulance_will_help_people_get_to_the_hospital.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 200px; height: 146px; left: 29430px; top: 20px;"
         onmouseup="playAudio('26medical_health_center.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 113px; height: 150px; left: 29430px; top: 160px;"
         onmouseup="playAudio('26_what_did_the_doctor_say.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 72px; height: 141px; left: 29665px; top: 105px;"
         onmouseup="playAudio('man_wearing_a_turban_waving_at_you.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 66px; height: 94px; left: 29670px; top: 0px;"
         onmouseup="playAudio('15_is_that_an_invisible_friend_looking_for_a_friend.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 220px; height: 100px; left: 29867px; top: 136px;"
         onmouseup="playAudio('11bench.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 260px; height: 194px; left: 29984px; top: 490px;"
         onmouseup="playAudio('08motorcycle.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    {{!-- <div class="streetElement"
         style="width: 110px; height: 320px; left: 30365px; top: 390px;"
         onmouseup="playAudio('shadow???.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div> --}}
    <div class="streetElement"
         style="width: 148px; height: 106px; left: 30330px; top: 158px;"
         onmouseup="playAudio('stairway_to_boardwalk.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 145px; height: 94px; left: 30342px; top: 247px;"
         onmouseup="playAudio('who_needs_a_nap.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 80px; height: 152px; left: 30170px; top: 97px;"
         onmouseup="playAudio('a_pedestrian_is_someone_who_walks.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 85px; height: 154px; left: 30249px; top: 97px;"
         onmouseup="playAudio('pedestrian.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 81px; height: 113px; left: 30334px; top: 35px;"
         onmouseup="playAudio('pedestrian.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 74px; height: 140px; left: 30393px; top: 0px;"
         onmouseup="playAudio('pedestrian.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 109px; height: 268px; left: 30530px; top: 120px;"
         onmouseup="playAudio('he_loves_to_hear_the_ocean_waves.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 109px; height: 276px; left: 30634px; top: 173px;"
         onmouseup="playAudio('he_loves_to_smell_the_wonderful_salt_sea_air.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 134px; height: 320px; left: 30817px; top: 397px;"
         onmouseup="playAudio('23_does_he_know_where_hes_walking.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 132px; height: 114px; left: 30908px; top: 299px;"
         onmouseup="playAudio('24_no invisible ghost is lurking nearby.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 305px; height: 345px; left: 30508px; top: 456px;"
         onmouseup="playAudio('boardwalk.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 90px; height: 124px; left: 30493px; top: 0px;"
         onmouseup="playAudio('boardwalk.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 333px; height: 294px; left: 30747px; top: 0px;"
         onmouseup="playAudio('ocean_sign.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>

    <!--/26-->

    <!--27-->
    <div class="streetElement"
         style="width: 310px; height: 165px; left: 31148px; top: 165px;"
         onmouseup="playAudio('waves.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 197px; height: 195px; left: 31148px; top: 515px;"
         onmouseup="playAudio('ocean.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 130px; height: 145px; left: 31335px; top: 360px;"
         onmouseup="playAudio('10flying_fish.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 220px; height: 215px; left: 31476px; top: 414px;"
         onmouseup="playAudio('27_the_orca_whale_jumps_up.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--27-->

    <!--28-->
    <div class="streetElement"
         style="width: 280px; height: 360px; left: 31678px; top: 0px;"
         onmouseup="playAudio('01volcano_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 152px; height: 98px; left: 31988px; top: 22px;"
         onmouseup="playAudio('28wild_animals.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 96px; height: 85px; left: 32017px; top: 150px;"
         onmouseup="playAudio('02polar_bear.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 83px; height: 78px; left: 32202px; top: 178px;"
         onmouseup="playAudio('03grizzly_bear.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 211px; height: 291px; left: 32145px; top: 267px;"
         onmouseup="playAudio('07tree.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 38px; height: 170px; left: 32441px; top: 150px;"
         onmouseup="playAudio('27_its_nice_to_get_a_kiss.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 76px; height: 150px; left: 32480px; top: 170px;"
         onmouseup="playAudio('26giraffe.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 63px; height: 117px; left: 32553px; top: 200px;"
         onmouseup="playAudio('29elephant.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 201px; height: 285px; left: 32615px; top: 137px;"
         onmouseup="playAudio('07tree.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--28-->

    <!--29-->
    <div class="streetElement"
         style="width: 89px; height: 69px; left: 32947px; top: 242px;"
         onmouseup="playAudio('17barn.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 80px; height: 93px; left: 33031px; top: 250px;"
         onmouseup="playAudio('16windmill.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 129px; height: 101px; left: 33075px; top: 384px;"
         onmouseup="playAudio('18_can_you_see_an_invisible_hole_anywhere.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 280px; height: 155px; left: 33117px; top: 225px;"
         onmouseup="playAudio('sand.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 112px; height: 91px; left: 33393px; top: 333px;"
         onmouseup="playAudio('10snail.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 141px; height: 101px; left: 33412px; top: 575px;"
         onmouseup="playAudio('clam.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--/29-->

    <!--30-->
    <div class="streetElement"
         style="width: 166px; height: 115px; left: 33663px; top: 15px;"
         onmouseup="playAudio('30sky_and_weather.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--/30-->

    <!--31-->
    <div class="streetElement"
         style="width: 166px; height: 127px; left: 33663px; top: 583px;"
         onmouseup="playAudio('31beach_creatures.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 122px; height: 101px; left: 33725px; top: 395px;"
         onmouseup="playAudio('09conch_shell_or_conk_shell.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 114px; height: 115px; left: 34077px; top: 470px;"
         onmouseup="playAudio('11crab_.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 165px; height: 129px; left: 34016px; top: 231px;"
         onmouseup="playAudio('31_many_people_do_not_like_lightning_storms.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 193px; height: 135px; left: 34155px; top: 135px;"
         onmouseup="playAudio('03albatross.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 95px; height: 77px; left: 34158px; top: 376px;"
         onmouseup="playAudio('07oyster_and_pearl.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 157px; height: 325px; left: 34234px; top: 228px;"
         onmouseup="playAudio('sea_foam.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <div class="streetElement"
         style="width: 218px; height: 337px; left: 34395px; top: 360px;"
         onmouseup="playAudio('ocean.mp3');" onmousedown="clearDrag();" onmousemove="setDrag();">
    </div>
    <!--/31-->

    <!--32-->
    <!--/32-->

    <!--33-->
    <!--/33-->

    <!--End of Rachel's Street Elements (26-33)-->
</div>


<!--<a href="/progress">Progress</a>-->

<script>
    // $(document).ready(function() {
        // window.scrollTo(0, 1);
        // $('#mainContainer').scrollLeft(0);
    // });

    $("#streetBackground").off().on("load", function() {
        console.log("DID THE THING");

        $("#streetBackground").css({
            "display" : "inline"
        });

        setTimeout(function () {
            $("#streetBackground").css({
                "position" : "relative"
            });
        }, 650);

        setTimeout(function () {
            $("#low_res").css({
                "display" : "none"
            });
        }, 650);

    });

    let dragging = false;
    // const header = document.getElementById("header");

    function setDrag() {
        dragging = true;
        // header.style.color = "green";
    }

    function clearDrag() {
        dragging = false;
        // header.style.color = "red";
    }

    function playAudio(soundName) {
        if (dragging === true) {
            dragging = false;
            // header.style.color = "red";
        } else {
            const audio = new Audio('/audio/street/' + soundName);
            audio.play();
        }
    }

    function selectCategory(categoryName) {
        if (dragging === true) {
            dragging = false;
            // header.style.color = "red";
        } else {
            location.href= '/category/' + categoryName;
        }
    }

    function zoomIn(areaName) {
        if (dragging === true) {
            dragging = false;
            // header.style.color = "red";
        } else {
            location.href= '/street/' + areaName;
        }
    }
</script>