body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.rectangle {
    height: 250px;
    margin-bottom: 20px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.option {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    box-shadow: -3px 3px 10px -3px;

    white-space: nowrap;
    text-align: center;

    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -khtml-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.rectangle.wide {
    height: 110px;
}

.option.wide {
    height: 100px;
}

.option:hover {
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1.6px;
    /*background-color: #d8d8d8;*/
}
.option:active {
    box-shadow: none;
}

.option-image {
    max-width: 95%;
    max-height: 95%;

    vertical-align: middle;

    display: inline-block;
    margin: auto;
    padding-left: 0;
    margin-left: -4px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.label-text {
    text-align: center;
    margin-left: -10%;
}

/*
special styling for small (mobile) screens
 */
@media only screen and (max-width: 576px) {
    .rectangle {
        height: 100px;
        margin-bottom: 10px;
    }

    .option.wide {
        height: 90px;
    }

    #top-left {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #top-right {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #bottom-left {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #bottom-right {
        margin-left: auto;
        margin-right: auto;
    }

    .label-text {
        margin-left: 0;
        margin-right: 0;
    }
}

