body {
    /*background-position: top right;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment:fixed;*/
    /*background-size: cover;*/
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-weight: bold;
    cursor: url(/images/cursors/hand2.png), grab;
}

#backgroundDiv {
    width: 100%;
    height: 110%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /*background-image: url('/images/Backgrounds/1.png');*/
    background-repeat:no-repeat;
    background-position: center center;
    /* background-attachment: fixed; removed for Android */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    /*font-size: 1.75rem;*/
    font-size: 2.5vw;
}

h2, h3 {
    font-weight: bold;
    font-size: 2.25rem;
    /*font-size: 3vw;*/
}

.rectangle {
    height: 250px;
    margin-bottom: 100px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.option {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    box-shadow: -3px 3px 10px -3px;

    white-space: nowrap;
    text-align: center;

    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -khtml-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;

    cursor: url(/images/cursors/handPointerCropped.png), pointer;
}

/*.option {*/
    /*height: 250px;*/
/*}*/

.option.square {
    border-radius: 0px;
}

.option:hover {
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1.6px;
    /*background-color: #d8d8d8;*/
}
.option:active {
    box-shadow: none;
}

.option:focus {
    border-color: royalblue;
    border-style: solid;
    border-width: 5px;
    transform: scale(1.1);
    margin-bottom: 10px;
}

.option.square:focus {
    border-color: mediumpurple;
}

.option-image {
    max-width: 95%;
    max-height: 95%;

    vertical-align: middle;

    display: inline-block;
    margin: auto;
    padding-left: 0;
    margin-left: -4px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.label-text {
    text-align: center;
    margin-left: -10%;
}

.word-container {
    width: 90%;
    margin-left: 7%;
    margin-top: 5px;
    /*margin-right: 3%;*/
}

#categoryBackButton {
    cursor: url(/images/cursors/handPointerCropped.png), pointer;
}

#homeButton, #backButton, #quizButton {
    /*cursor: pointer;*/
    cursor: url(/images/cursors/handPointerCropped.png), pointer;
    position: absolute;
    left: 0;
}

#backButton {
    top: 0px;
}

#homeButton {
    top: 65px;
}

#quizButton {
    top: 130px;
}

/*
special styling for mobile phones in landscape mode
*/
@media only screen and (max-height: 420px) {
    html {
        height: 95%;
    }
    body {
        height: 95%;
    }

    .word-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        height: 90%;
        margin-top: 0;
        margin-left: 65px;
        width: 90%;
    }


    .option {
        height: 70%;
    }
}

/*
special styling for small screens (slightly wider than portrait)
 */
@media only screen and (max-width: 720px) {
    .word-container {
        margin-left: 10%;
    }
}

/*
special styling for small (mobile) screens (portrait)
 */
@media only screen and (max-width: 576px) {
    p {
        /*font-size: 1.75rem;*/
        font-size: 6vw;
    }
    #subcategoryTitle {
        top: 65px;
    }
    #homeButton {
        top: 0;
        left: 65px;
        right: auto;
    }
    #quizButton {
        top: 0;
        left: 130px;
        right: auto;
    }
    #spaceDiv {
        margin-bottom: 85px;
    }

    .rectangle {
        height: 200px;
        margin-bottom: 0px;
    }

    .option {
        height: 140px;
        margin-left: auto;
        margin-right: auto;
    }

    .label-text {
        margin-left: 0;
        margin-right: 0;
    }

    .word-container {
        width: 100%;
    }

    .word-container {
        margin-left: auto;
        margin-right: auto;
    }

    .option:focus {
        transform: scale(1.15);
        margin-bottom: 10px;
    }
}

/*
more special styling for mobile phones in landscape mode
*/
@media only screen and (max-height: 420px) {
    .option:focus {
        transform: scale(1.0);
        margin-bottom: 0px;
    }

    .option.wide:focus {
        transform: scale(1.0);
        margin-bottom: 0px;
    }
}

