body {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

p {
    margin-bottom: 0;
    font-size: 1.25rem;
}

h2 {
    font-weight: bold;
    font-size: 2.25rem;
}

h3 {
    font-weight: bold;
    font-size: 1.75rem;
}

h4 {
    font-weight: bold;
    font-size: 1.5rem;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: rgb(214, 214, 214);
    height: 1px;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

#coin-container {
    margin-left: 5px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 3px;
    border-color: slategrey;
    border-style: solid;
    /*overflow: auto;*/
}

.coin-span {
    float: left;
}

.rectangle {
    height: 250px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.option {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    box-shadow: -3px 3px 10px -3px;

    white-space: nowrap;
    text-align: center;

    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -khtml-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;

    cursor: pointer;
}
.option:hover {
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1.6px;
    /*background-color: #d8d8d8;*/
}
.option:active {
    box-shadow: none;
}

.option-image {
    max-width: 95%;
    max-height: 95%;

    vertical-align: middle;

    display: inline-block;
    margin: auto;
    padding-left: 0;
    margin-left: -4px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#top-left {
    float: right;
}

#bottom-left {
    float: right;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    color: #d8d8d8; /* light grey */
}
.button:active {
    padding: 9px 17px;
    margin: 1px;
}

#top {
    text-align: center;
}

#keyHorizontal {
    display: block;
}

#keyStacked {
    display: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s
}
.slim {
    width: 250px;
    text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    /*color: white;*/
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    float: left;
    /*background-color: #5cb85c;*/
    /*color: white;*/
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    /*color: white;*/
}



.play-button {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 65px;
    background-color: #006aff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.play-button:hover {
    background-color: #3a8cff;
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.done-button {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 65px;
    background-color: #006aff;
    border-radius: 5px;
    position: relative;
    color: white;
}

.done-button:hover {
    background-color: #3a8cff;
}



#homeButton, #backButton, #repeatButton, #bankButton {
    cursor: pointer;
    position: absolute;
    left: 0;
}

#backButton {
    top: 0px;
}

#homeButton {
    top: 65px;
}

#repeatButton {
    top: 130px;
}

#bankButton {
    top: 195px;
}

#question-word {
    margin-bottom: 15px;
}

#quizLabel {
    top: 0;
}
#spaceDiv {
    margin-bottom: 50px;
}

/*
special styling for small (mobile) screens (portrait)
 */
@media only screen and (max-width: 576px) {
    #homeButton {
        left: 65px;
        right: auto;
        top: 0;
    }

    #repeatButton {
        left: 130px;
        right: auto;
        top: 0;
    }

    #bankButton {
        left: 195px;
        right: auto;
        top: 0;
    }

    #quizLabel {
        top: 65px;
    }
    #spaceDiv {
        margin-bottom: 110px;
    }

    #coin-banks {
        margin-left: 0 !important;
    }

    .option-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #question-word {
        margin-bottom: 15px;
    }


    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }

    .rectangle {
        height: 100px;
    }

    #top-left {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #top-right {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #bottom-left {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #bottom-right {
        margin-left: auto;
        margin-right: auto;
    }

    .option:hover {
        border-color: white;
        border-style: none;
        border-width: 0;
        /*background-color: #d8d8d8;*/
    }

    .option:active {
        border-color: #d8d8d8;
        border-style: solid;
        border-width: 1.6px;
        /*background-color: #d8d8d8;*/
    }

    #keyHorizontal {
        display: None;
    }

    #keyStacked {
        display: block;
    }
}

h2 {
    margin-bottom: 20px;
}

.option-container {
    margin-left: 0;
    margin-right: 0;
}

/*
    styling for landscape mobile screens
*/
@media only screen and (max-height: 420px) {
    /*#homeButton {*/
        /*left: 0;*/
        /*right: auto;*/
        /*top: 65px;*/
    /*}*/

    /*#repeatButton {*/
        /*left: 0;*/
        /*right: auto;*/
        /*top: 130px;*/
    /*}*/

    /*#bankButton {*/
        /*left: 0;*/
        /*right: auto;*/
        /*top: 195px;*/
    /*}*/

    #coin-banks {
        margin-left: 85px;
    }

    #top {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }

    .option-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        height: 50%;
        margin-top: 5%;
        margin-left: 75px;
        margin-bottom: 0;
    }
    .rectangle {
        height: 100%;
        /*width: 280px;*/
        margin-bottom: 0px;
    }

    .option {
        /*width: 270px;*/
        height: 90%;
    }


    #top-left {
        float: none;
    }

    #bottom-left {
        float: none;
        margin-left: 0;
    }

    .rectangle {
        margin-left: 0;
    }

    #question-word {
        margin-bottom: 5px;
    }

    h2 {
        /*margin-bottom: 5px;*/
    }

    .row {
        margin-top: 0;
    }

    .option:hover {
        border-color: white;
        border-style: none;
        border-width: 0;
        /*background-color: #d8d8d8;*/
    }

    .option:active {
        border-color: #d8d8d8;
        border-style: solid;
        border-width: 1.6px;
        /*background-color: #d8d8d8;*/
    }

    .modal {
        padding-top: 25px;
    }
}

.option.incorrect {
    border-color: red;
    border-style: solid;
    border-width: 5px;
    /*box-shadow: none;*/
    /*background-color: #d8d8d8;*/
}

.option.correct {
    border-color: green;
    border-style: solid;
    border-width: 5px;
    box-shadow: none;
    /*background-color: #d8d8d8;*/
}

.coin-bank {
    height: 50px;
}
.armored-car {
    height: 50px;
}
.money-bag {
    /*src:"/images/buttons/bag.png"*/
    height: 50px;
}
.gold-coin {
    /*src:"/images/buttons/bag.png"*/
    height: 50px;
}
.gold-coin-stack {
    /*src:"/images/buttons/bag.png"*/
    height: 50px;
}
.silver-coin {
    /*src:"/images/buttons/bag.png"*/
    height: 50px;
}
