body {
    cursor: url(/images/cursors/hand2.png), pointer;
}

.dragscroll {
    /*border: 1px solid rgb(31, 40, 49);*/
    background-color : #283849;
    overflow: auto;
    position: relative;
}

.horizontal.dragscroll {
    margin-top : 10px;
    /*width: 110%;*/
    margin-left: 0;
    background-color: #000000;
    margin-right: 0;
}

.horizontal {
    /*cursor : -webkit-grab;*/
    /*cursor : -moz-grab;*/
    /*cursor : -o-grab;*/
    /*cursor : grab;*/
    cursor: url(/images/cursors/hand2.png), grab;
}

body {
    background-image: url(/images/backgrounds/Grey.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    /* background-color: rgb(129, 127, 127); */
}

.category {
    z-index: 4;
    position: absolute;
    border-color: magenta;
    border-width: medium;
    border-style: solid;

    /*cursor: alias;*/
    cursor: url(/images/cursors/door.png), auto;
}

.streetElement {
    z-index: 5;
    position: absolute;
    /*background-color: greenyellow;*/
    border-color: greenyellow;
    border-width: medium;
    border-style: solid;

    /*cursor: url('/images/buttons/cursor2.png'), auto;*/
    cursor: url(/images/cursors/handPointerCropped.png), pointer;
}

.zoomArea {
    z-index: 4;
    position: absolute;
    border-color: cyan;
    border-width: medium;
    border-style: solid;

    /*cursor: zoom-in;*/
    cursor: url(/images/cursors/opaqueZoom.png), zoom-in;
}

.missingStreetImage {
    z-index:2;
    position: absolute;
    /*cursor:pointer;*/
    cursor: url(/images/cursors/handPointerCropped.png), pointer;
}

.fact {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; 
    width: 100px; 
    z-index: 5;
    position: absolute;
    /*cursor:pointer;*/
    cursor: url(/images/cursors/handPointerCropped.png), pointer;
}


.blue {
    background-color: rgb(164, 221, 234);
    z-index: 6;
}

.orange {
    background-color: rgb(245, 170, 89);
    z-index: 6;
}

.pink {
    background-color: rgb(251, 156, 204);
    z-index: 6;
}

.purple {
    background-color: rgb(198, 178, 249);
    z-index: 6;
}

.text-facts {
    margin-top: 8px;
    color: white;
    font-weight: 900;
    font-size: 50px;
}


/* START OF SCREEN RESIZING SETTINGS */
@media screen and (max-height: 805px) {
    html {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        transform: scale(.9);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -5.5%;
        margin-right: -5.5%;
    }

    #progressButton {
        margin-right: -5% !important;
    }
    #backButton {
        margin-left: -5% !important;
    }
}

@media screen and (max-height: 750px) {
    html {
        -webkit-transform: scale(.85);
        -moz-transform: scale(.85);
        transform: scale(.85);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -8.825%;
        margin-right: -8.825%;
    }

    #progressButton {
        margin-right: -8.325% !important;
    }
    #backButton {
        margin-left: -8.325% !important;
    }
}

@media screen and (max-height: 695px) {
    html {
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        transform: scale(.8);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -12.5%;
        margin-right: -12.5%;
    }

    #progressButton {
        margin-right: -12% !important;
    }
    #backButton {
        margin-left: -12% !important;
    }
}

@media screen and (max-height: 640px) {
    html {
        -webkit-transform: scale(.72);
        -moz-transform: scale(.72);
        transform: scale(.72);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -19.5%;
        margin-right: -19.5%;
    }

    #progressButton {
        margin-right: -19% !important;
    }
    #backButton {
        margin-left: -19% !important;
    }
}

@media screen and (max-height:585px) {
    html {
        -webkit-transform: scale(.65);
        -moz-transform: scale(.65);
        transform: scale(.65);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -27%;
        margin-right: -27%;
    }

    #progressButton {
        margin-right: -26.5% !important;
    }
    #backButton {
        margin-left: -26.5% !important;
    }
}

@media screen and (max-height: 530px) {
    html {
        -webkit-transform: scale(.58);
        -moz-transform: scale(.58);
        transform: scale(.58);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -36.25%;
        margin-right: -36.25%;
    }

    #progressButton {
        margin-right: -35.75% !important;
    }
    #backButton {
        margin-left: -35.75% !important;
    }
}

@media screen and (max-height: 475px) {
    html {
        -webkit-transform: scale(.51);
        -moz-transform: scale(.51);
        transform: scale(.51);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -48.125%;
        margin-right: -48.125%;
    }

    #progressButton {
        margin-right: -47.625% !important;
    }
    #backButton {
        margin-left: -47.625% !important;
    }
}

@media screen and (max-height: 420px) {
    html {
        -webkit-transform: scale(.45);
        -moz-transform: scale(.45);
        transform: scale(.45);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -61%;
        margin-right: -61%;
    }

    #progressButton {
        margin-right: -60.5% !important;
    }
    #backButton {
        margin-left: -60.5% !important;
    }
}

@media screen and (max-height: 365px) {
    html {
        -webkit-transform: scale(.4);
        -moz-transform: scale(.4);
        transform: scale(.4);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -75%;
        margin-right: -75%;
    }

    #progressButton {
        margin-right: -74.5% !important;
    }
    #backButton {
        margin-left: -74.5% !important;
    }
}

/* END OF SCREEN RESIZING SETTINGS */

#backButton, #progressButton, #homeButton {
    cursor: url(/images/cursors/handPointerCropped.png), pointer;
}