.dragscroll {
    /*border: 1px solid rgb(31, 40, 49);*/
    background-color : #283849;
    overflow: auto;
    position: relative;
}

.horizontal.dragscroll {
    margin-top : 10px;
    /*width: 110%;*/
    margin-left: 0;
    background-color: #000000;
    margin-right: 0;
}

.horizontal {
    cursor : -webkit-grab;
    cursor : -moz-grab;
    /*cursor : -o-grab;*/
    cursor : grab;
}


.horizontal:active {
    cursor : -webkit-grabbing;
    cursor : -moz-grabbing;
    /*cursor : -o-grabbing;*/
    cursor : grabbing;
}


.category {
    z-index: 4;
    position: absolute;
    border-color: magenta;
    border-width: medium;
    border-style: solid;
    cursor:pointer;
}

.streetElement {
    z-index: 5;
    position: absolute;
    /*background-color: greenyellow;*/
    border-color: greenyellow;
    border-width: medium;
    border-style: solid;
    cursor:pointer;
}

.zoomArea {
    z-index: 4;
    position: absolute;
    border-color: cyan;
    border-width: medium;
    border-style: solid;
    cursor:pointer;
}

.missingStreetImage {
    z-index:2;
    position: absolute;
    cursor:pointer;
}



/* START OF SCREEN RESIZING SETTINGS */
@media screen and (max-height: 750px) {
    html {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        transform: scale(.9);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -5.5%;
        margin-right: -5.5%;
    }
}

@media screen and (max-height: 695px) {
    html {
        -webkit-transform: scale(.83);
        -moz-transform: scale(.83);
        transform: scale(.83);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -10.25%;
        margin-right: -10.25%;
    }
}

@media screen and (max-height: 640px) {
    html {
        -webkit-transform: scale(.77);
        -moz-transform: scale(.77);
        transform: scale(.77);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -15%;
        margin-right: -15%;
    }
}

@media screen and (max-height:585px) {
    html {
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        transform: scale(.7);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -21.5%;
        margin-right: -21.5%;
    }
}

@media screen and (max-height: 530px) {
    html {
        -webkit-transform: scale(.62);
        -moz-transform: scale(.62);
        transform: scale(.62);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -30.65%;
        margin-right: -30.65%;
    }
}

@media screen and (max-height: 475px) {
    html {
        -webkit-transform: scale(.55);
        -moz-transform: scale(.55);
        transform: scale(.55);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -41%;
        margin-right: -41%;
    }
}

@media screen and (max-height: 420px) {
    html {
        -webkit-transform: scale(.47);
        -moz-transform: scale(.47);
        transform: scale(.47);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -56.33%;
        margin-right: -56.33%;
    }
}

@media screen and (max-height: 365px) {
    html {
        -webkit-transform: scale(.42);
        -moz-transform: scale(.42);
        transform: scale(.42);
        transform-origin: top center;
    }

    .horizontal.dragscroll {
        margin-left: -69%;
        margin-right: -69%;
    }
}

/* END OF SCREEN RESIZING SETTINGS */