body {
    background: white;
}

/* The Modal (background) */
/*.modal {*/
    /*display: none; !* Hidden by default *!*/
    /*position: fixed; !* Stay in place *!*/
    /*z-index: 1; !* Sit on top *!*/
    /*padding-top: 100px; !* Location of the box *!*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%; !* Full width *!*/
    /*height: 100%; !* Full height *!*/
    /*overflow: auto; !* Enable scroll if needed *!*/
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*}*/

/* Modal Content */
/*.modal-content {*/
    /*position: relative;*/
    /*background-color: #fefefe;*/
    /*margin: auto;*/
    /*padding: 0;*/
    /*border: 1px solid #888;*/
    /*width: 60%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    /*-webkit-animation-name: animatetop;*/
    /*-webkit-animation-duration: 0.6s;*/
    /*animation-name: animatetop;*/
    /*animation-duration: 0.6s*/
/*}*/
/*.slim {*/
    /*width: 250px;*/
    /*text-align: center;*/
/*}*/

/* Add Animation */
/*@-webkit-keyframes animatetop {*/
    /*from {top:-300px; opacity:0}*/
    /*to {top:0; opacity:1}*/
/*}*/

/*@keyframes animatetop {*/
    /*from {top:-300px; opacity:0}*/
    /*to {top:0; opacity:1}*/
/*}*/

/* The Close Button */
/*.close {*/
    /*!*color: white;*!*/
    /*float: right;*/
    /*font-size: 28px;*/
    /*font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
    /*color: #000;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
/*}*/

/*.modal-header {*/
    /*padding: 2px 16px;*/
    /*float: left;*/
    /*background-color: #5cb85c;*/
    /*color: white;*/
/*}*/

/*.modal-body {padding: 2px 16px;}*/

/*.modal-footer {*/
    /*padding: 2px 16px;*/
    /*background-color: #5cb85c;*/
    /*color: white;*/
/*}*/

.play-button {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 65px;
    background-color: #006aff;
    border-radius: 5px;
    position: relative;
}

.play-button:hover {
    background-color: #3a8cff;
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}
.progressBox{
    display: inline-block;
    left: 50%;
    right:50%;
    width:45%;
    height: 50%;
}
.progressContentBox {
    width: 100px;
    height: 140px;
    border: 2px solid #888888;
    border-radius: 10%;
    text-align: center;
}
.progressBoxTitle{
    font-size: small;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
}
#overallPercentage{
    font-size: 200%;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
}
#bestCategory{
    font-size: small;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
    top: 85%;
}
#box1{
    left: 5%;
}
#box2{
    left:5%;
}
@media (min-width: 350px) {
    #bestCategory{
        font-size: medium;
        font-weight: bold;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
        top: 85%;
    }
    .progressBoxTitle{
        font-size: large;
        font-weight: bold;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif'"
    }
    .progressBox{
        display: inline-block;
        width:  45%;
        height: 95%;
    }
    #box1 {
        left: 0;
    }
    #box2 {
        left: 0;
        right: 0;
    }
    .progressContentBox {
        width: 150px;
        height: 190px;
        position: inherit;
    }
    #overallPercentage{
        font-size: 300%;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
    }
}

@media (min-width: 600px) {
    #box1{
        left: 10%;
    }
    #box2{
        left: 10%;
    }
    .progressContentBox {
        width: 250px;
        height: 290px;
        position: inherit;
    }
    #bestCategory{
        font-size: large;
        font-weight: bold;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
        top: 90%;
    }
    #overallPercentage{
        font-size: 400%;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
    }
    .progressBoxTitle{
        font-size: x-large;
        font-weight: bold;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif'"
    }

}

@media (min-width: 1060px) {
    .progressBox{
        display: inline-block;
        width: 45%;
        height: 95%;
    }
    #overallPercentage{
        top: 30%;
        font-size: 600%;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
    }
    #bestCategory{
        font-size: x-large;
        font-weight: bold;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
        top: 90%;
    }
    .progressBoxTitle{
        font-size: xx-large;
        font-weight: bold;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
    }
    .progressContentBox {
        width: 50%;
        height: 55%;
        left:initial;
        right:initial;
    }
    #box1{
        left: 50%;
    }
    #box2{
        left: 10%;
    }
}

@media (min-width: 1250px) {
    .progressContentBox {
        width: 340px;
        height: 390px;
        left:initial;
        right:initial;
    }

    #overallPercentage{
        top: 30%;
        font-size: 800%;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
    }
    #bestCategory{
        font-size: x-large;
        font-weight: bold;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
        top: 90%;
    }
    .progressBoxTitle{
        font-size: xx-large;
        font-weight: bold;
        font-family: 'Comic Sans MS', 'Comic Sans', 'sans-serif';
    }
    #box1{
        left: 50%;
    }
    #box2{
        left: 10%;
    }
}

/*.delete-button {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*height: 40px;*/
    /*!*width: 65px;*!*/
    /*background-color: #ff0000; !*red*!*/
    /*border-radius: 5px;*/
    /*position: relative;*/
    /*color: white;*/
/*}*/

/*.delete-button:hover {*/
    /*background-color: #ff4d4d; !*light red*!*/
/*}*/